workflows/client-outreach-automation/workflow.json
{
  "name": "REDACTED_v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        240
      ],
      "id": "b9edcac4-5600-4874-bdaf-ac2d53fc541c",
      "name": "Daily 09:00"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DNA2ttiZE1NzWpxJ2N_zwCE7KZxIIPa7-Fgel_qFVVQ",
          "mode": "list",
          "cachedResultName": "KlijentiOutreach_Tracker",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 572639152,
          "mode": "list",
          "cachedResultName": "Sent",
          "cachedResultUrl": "REDACTED_URL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -448,
        240
      ],
      "id": "2b704ba3-9151-4671-b533-26fe7117814f",
      "name": "Read Sent Sheet (FU)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Keep only rows that:\n//   - status == 'sent' (no reply yet, no bounce)\n//   - follow_up_due_date <= now\n//   - follow_up_sent_at is empty\nconst now = new Date();\nconst out = [];\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r) continue;\n  if (String(r.status || '').toLowerCase() !== 'sent') continue;\n  if (r.follow_up_sent_at && String(r.follow_up_sent_at).trim() !== '') continue;\n  const due = r.follow_up_due_date ? new Date(r.follow_up_due_date) : null;\n  if (!due || isNaN(due.getTime())) continue;\n  if (due > now) continue;\n  out.push({ json: r });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        240
      ],
      "id": "a82144b9-e4cd-4e46-8006-68e6aa714acf",
      "name": "Filter Due Follow-ups"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        240
      ],
      "id": "03aa4d35-b0c4-42ef-a612-2cd20e2aa078",
      "name": "Loop Over Due"
    },
    {
      "parameters": {
        "jsCode": "// Random 60\u2013180s jitter for follow-ups.\nconst delaySeconds = Math.floor(Math.random() * (180 - 60 + 1)) + 60;\nreturn [{ json: { ...$json, _delay_seconds: delaySeconds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        448
      ],
      "id": "2bbdeea6-3e36-4af7-b909-80928dc6d023",
      "name": "Compute Delay"
    },
    {
      "parameters": {
        "amount": "={{ $json._delay_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        448
      ],
      "id": "909da822-f155-4d6d-bfae-755844002825",
      "name": "Wait"
    },
    {
      "parameters": {
        "fromEmail": "info@arcom-technologies.hr",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.follow_up_subject }}",
        "emailFormat": "both",
        "text": "={{ $json.follow_up_text }}",
        "html": "={{ $json.follow_up_html }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "info@arcom-technologies.hr"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        448
      ],
      "id": "b9e8d0b5-7b4b-4fe8-9fe4-b4452cbd7557",
      "name": "Send Follow-up"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DNA2ttiZE1NzWpxJ2N_zwCE7KZxIIPa7-Fgel_qFVVQ",
          "mode": "list",
          "cachedResultName": "KlijentiOutreach_Tracker",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 572639152,
          "mode": "list",
          "cachedResultName": "Sent",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "follow_up_sent_at": "={{ new Date().toISOString() }}",
            "status": "followed_up"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "timestamp_sent",
              "displayName": "timestamp_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_subject",
              "displayName": "follow_up_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_text",
              "displayName": "follow_up_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_html",
              "displayName": "follow_up_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_due_date",
              "displayName": "follow_up_due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_sent_at",
              "displayName": "follow_up_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        736,
        448
      ],
      "id": "9cb2b196-42a3-4e4e-9542-51ad7548af37",
      "name": "Mark Follow-up Sent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -320
      ],
      "id": "161de0e2-4968-4ea1-9f31-5d8b68f16e08",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Telegram brief into structured search params.\n// Works for both Telegram triggers. The source_bot field is added right after each trigger\n// so the final notification can be routed back through the same Telegram account.\n\nconst incoming = $input.first().json;\nconst msg = incoming.message || {};\nconst raw = (msg.text || '').trim();\n\nif (!raw) {\n  throw new Error('Empty Telegram message \u2014 send a brief like \"5 dental clinics in Zagreb\".');\n}\n\nconst countMatch = raw.match(/(?:count\\s*=\\s*)?(\\b\\d{1,2}\\b)/i);\nconst count = Math.min(parseInt(countMatch?.[1] || '5', 10), 15); // hard cap 15/run\n\nconst inMatch = raw.match(/\\b(?:in|across|throughout)\\s+([A-Za-z\u010d\u0107\u017e\u0161\u0111\u010c\u0106\u017d\u0160\u0110 ,]+?)(?:\\s+\\d|$)/i);\nconst location = inMatch?.[1]?.trim() || 'worldwide';\n\nreturn [{\n  json: {\n    raw_brief: raw,\n    count,\n    location,\n    requested_at: new Date().toISOString(),\n    chat_id: msg.chat?.id,\n    telegram_user_id: msg.from?.id,\n    telegram_username: msg.from?.username || '',\n    telegram_first_name: msg.from?.first_name || '',\n    source_bot: incoming.source_bot || 'telegram_1'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -272
      ],
      "id": "6fd74d82-ecca-4b05-b36d-8af7c90a5d17",
      "name": "Parse Brief"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DNA2ttiZE1NzWpxJ2N_zwCE7KZxIIPa7-Fgel_qFVVQ",
          "mode": "list",
          "cachedResultName": "KlijentiOutreach_Tracker",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 572639152,
          "mode": "list",
          "cachedResultName": "Sent",
          "cachedResultUrl": "REDACTED_URL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        -272
      ],
      "id": "8593c8b0-079f-4bf3-a279-dabe11f91c09",
      "name": "Read Sent for Dedup",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Collapse all 'Sent' rows into one item carrying:\n//  - the brief from Parse Brief (raw_brief, count, location, chat_id)\n//  - all_sent_emails: deduplicated lowercase array of every previously contacted email\n\nconst brief = $('Parse Brief').first().json;\nconst rows = $input.all();\nconst seen = new Set();\nfor (const r of rows) {\n  const e = (r.json?.email || '').toString().trim().toLowerCase();\n  if (e) seen.add(e);\n}\n\nreturn [{\n  json: {\n    ...brief,\n    all_sent_emails: Array.from(seen)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -272
      ],
      "id": "65adec84-05bf-4a56-b105-0d80a3b43649",
      "name": "Aggregate Sent Emails"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find {{ $json.count }} real, public businesses matching this brief: \"{{ $json.raw_brief }}\".\nLocation hint: {{ $json.location }}.\n\nReturn ONLY the JSON described in the system message. No markdown, no commentary.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the **Lead Discovery Agent** for Arcom Technologies d.o.o. (a business-automation agency).\n\nYour ONLY job: find real, public businesses that match the user's brief and return a JSON object with a `leads` array. You do NOT write emails \u2014 that is a downstream agent's job. You need to decide niche/multiple niches that have the best potential for AI automation if it's not included.\n\nIf the brief only contains a number or does not specify a niche:\n- choose high-conversion niches from the preferred niches list\n- prefer businesses with publicly visible contact emails\n- continue normally\n- never return an empty array unless absolutely no valid businesses can be found\n\n# Workflow\n1. Use the web_search tool first. Do not rely on memory; search results may be stale.\n2. For each candidate business, locate a **public contact email** on:\n   - the company's own domain (e.g. info@business.hr, hello@business.com, contact@business.de),\n   - or a clearly listed booking/reservations/inquiries address.\n3. If you cannot confirm the email from a real public source (website, Google Business profile, official directory), **SKIP that business**. Find another. Never invent or guess an address.\n4. Capture one short, specific factual detail per business that we can use for personalisation (a unique service, a city, multiple locations, recent opening, certified specialty, etc.).\n\n# Target niches (prefer these \u2014 they buy automation):\nrestaurant \u00b7 cafe \u00b7 bakery \u00b7 hotel \u00b7 hostel \u00b7 dental clinic \u00b7 medical clinic \u00b7 beauty/hair salon \u00b7 spa \u00b7 gym \u00b7 accounting/tax firm \u00b7 finance/consulting boutique \u00b7 logistics/freight/warehouse \u00b7 recruitment/staffing/HR boutique \u00b7 ecommerce/retail brand \u00b7 construction/engineering firm with cost-estimate workflows.\n\n# Output schema (STRICT)\nReturn ONLY this JSON. No prose, no fences, no extra keys.\n\n{\n  \"leads\": [\n    {\n      \"name\": \"Business Legal/Trade Name\",\n      \"website\": \"REDACTED_URL\",\n      \"country\": \"HR\",\n      \"city\": \"Zagreb\",\n      \"email\": \"info@example.com\",\n      \"niche\": \"dental\",\n      \"one_line_hook\": \"Three locations across Zagreb, focus on implants and prosthetics.\"\n    }\n  ]\n}\n\nRules:\n- `country` is ISO-2 (HR, US, DE, IT, BA, RS, SI, ME, AT, FR, ...).\n- `niche` is lowercase, one of the categories above (or \"other\").\n- `email` MUST share the same root domain as `website` OR be a clearly listed public contact email (no Gmail/Yahoo unless that is genuinely on their site).\n- `one_line_hook` is in English, max 25 words, specific (no generic praise like \"great service\").\n- If you cannot find `count` valid leads, return as many as you can \u2014 do not pad with fakes.\n- Never include LinkedIn-only or guessed addresses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -272
      ],
      "id": "b8509317-b2bb-4e6b-9e50-635717089f05",
      "name": "Lead Discovery Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        -48
      ],
      "id": "959a4dd5-661a-41c0-86dd-fce8b3f46cf9",
      "name": "Discovery LLM (mini)"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"leads\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"website\": { \"type\": \"string\" },\n          \"country\": { \"type\": \"string\" },\n          \"city\": { \"type\": \"string\" },\n          \"email\": { \"type\": \"string\" },\n          \"niche\": { \"type\": \"string\" },\n          \"one_line_hook\": { \"type\": \"string\" }\n        },\n        \"required\": [\"name\", \"website\", \"country\", \"city\", \"email\", \"niche\", \"one_line_hook\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"leads\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        -48
      ],
      "id": "d0debf7c-4b39-4341-a0f2-42297f0aa994",
      "name": "Discovery Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        -272
      ],
      "id": "d7514ffb-6bb7-4982-b4f2-f2ae20ce690f",
      "name": "Split Leads"
    },
    {
      "parameters": {
        "jsCode": "// Drop any lead whose email is already in Aggregate Sent Emails.\nconst sent = new Set(\n  ($('Aggregate Sent Emails').first().json.all_sent_emails || []).map(e => String(e).toLowerCase())\n);\n\nconst out = [];\nfor (const item of $input.all()) {\n  const lead = item.json;\n  const email = String(lead.email || '').trim().toLowerCase();\n  if (!email) continue;            // discard leads without an email\n  if (sent.has(email)) continue;   // already contacted before\n  out.push({ json: lead });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -272
      ],
      "id": "4ac81173-60a6-4a9e-a8ec-79e323a156f5",
      "name": "Filter Already-Contacted"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the cold email + follow-up for this single lead. Return ONLY the JSON described in the system message.\n\nLead JSON:\n{{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the **Email Writer Agent** for Arcom Technologies d.o.o. (business-automation agency, Croatia).\n\n# Task\nFor the single lead JSON the user provides, return ONE JSON object with a complete cold email and a 5-day follow-up.\n\n# Language rule (STRICT)\n- If `country` is one of: HR, BA, RS, ME, SI \u2192 write in **Croatian** (formal Vi/Va\u0161).\n- Otherwise \u2192 write in **English**.\n- Subject and signature follow the same language. Phone/company name stay as-is.\n\n# First-email rules\n- 100\u2013140 words.\n- Friendly, direct, professional. No hype, no clich\u00e9s (\"hope this finds you well\"), no emojis.\n- Open with one specific personalisation pulled from `one_line_hook` (city, multi-location, niche detail, etc.). Show you actually looked.\n- Propose ONE concrete AI-automation angle that fits their niche. Pick from:\n  \u00b7 restaurant/cafe/bar/bakery \u2192 reservation flow + reminders + no-show follow-up.\n  \u00b7 hotel/hostel/resort \u2192 booking confirmations, multi-channel guest FAQ chatbot, post-stay review requests.\n  \u00b7 dental/medical/salon/spa \u2192 appointment booking + automatic reminders + recall sequences.\n  \u00b7 gym/fitness \u2192 membership lifecycle (onboarding, renewal, win-back).\n  \u00b7 accounting/tax/finance \u2192 document intake, deadline reminders, status updates.\n  \u00b7 logistics/freight \u2192 shipment-status replies, document automation, ETA notifications.\n  \u00b7 recruitment/staffing \u2192 CV intake + AI screening/ranking + candidate status emails.\n  \u00b7 ecommerce/retail \u2192 returns/inquiries chatbot, order-status emails, win-back flows.\n  \u00b7 construction/engineering \u2192 cost-estimate (tro\u0161kovnik) automation from PDFs/emails into Excel.\n- One soft CTA (\"If this sounds relevant, I can send a short outline how it would work for you.\" / Croatian: \"Ako Vam ovo zvu\u010di zanimljivo, mogu Vam poslati kratak prikaz kako bi to izgledalo kod Vas.\").\n\n# Subject\n- 4\u20138 words. Specific. No clickbait, no ALL CAPS, no emojis. Lowercase-natural is fine.\n- Hint at the value (e.g. \"automating reservations at <city>\", \"automatske rezervacije u <gradu>\").\n\n# Signature (always, exact)\nMario\nArcom Technologies d.o.o.\n+385 91 784 8382\n\n# Follow-up email rules\n- 60\u201390 words.\n- Sent if no reply after 5 days (downstream automation handles timing).\n- Reference the first email briefly (\"Just floating this back up...\"), give one concrete example/result, soft CTA.\n- Same language and signature.\n\n# Output schema (STRICT \u2014 no extra keys, no markdown, no fences)\n{\n  \"email\": \"<destination address \u2014 copied from input>\",\n  \"language\": \"hr|en\",\n  \"subject\": \"<first-email subject>\",\n  \"message_text\": \"<plain text, with \\\\n and \\\\n\\\\n line breaks>\",\n  \"message_html\": \"<same content but with <p>...</p> paragraphs and <br> for forced breaks. No CSS, no inline styles.>\",\n  \"follow_up_subject\": \"<usually: Re: <first subject>>\",\n  \"follow_up_text\": \"<plain text follow-up with \\\\n>\",\n  \"follow_up_html\": \"<HTML follow-up>\",\n  \"business_name\": \"<copied from input>\",\n  \"country\": \"<copied from input>\",\n  \"niche\": \"<copied from input>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        -272
      ],
      "id": "1ae41cbb-f1ec-46a1-919f-1698e9276eea",
      "name": "Email Writer Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        -48
      ],
      "id": "33668dc0-30ae-4c13-a80e-de3daa4f44a9",
      "name": "Writer LLM (gpt-4.1)"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email\": { \"type\": \"string\" },\n    \"language\": { \"type\": \"string\" },\n    \"subject\": { \"type\": \"string\" },\n    \"message_text\": { \"type\": \"string\" },\n    \"message_html\": { \"type\": \"string\" },\n    \"follow_up_subject\": { \"type\": \"string\" },\n    \"follow_up_text\": { \"type\": \"string\" },\n    \"follow_up_html\": { \"type\": \"string\" },\n    \"business_name\": { \"type\": \"string\" },\n    \"country\": { \"type\": \"string\" },\n    \"niche\": { \"type\": \"string\" }\n  },\n  \"required\": [\"email\",\"language\",\"subject\",\"message_text\",\"message_html\",\"follow_up_subject\",\"follow_up_text\",\"follow_up_html\",\"business_name\",\"country\",\"niche\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        -48
      ],
      "id": "113d14ca-de96-442f-89ff-ed2a841f2d42",
      "name": "Writer Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        -272
      ],
      "id": "cb594be2-c568-4721-a309-e303137a4cf6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Random delay 45\u2013120s between sends to avoid spam filters / look human.\nconst min = 45;\nconst max = 120;\nconst delaySeconds = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn [{ json: { ...$json, _delay_seconds: delaySeconds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -64
      ],
      "id": "8aebe93d-4292-4baa-98ee-2ba59fe03f11",
      "name": "Compute Random Delay"
    },
    {
      "parameters": {
        "amount": "={{ $json._delay_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -64
      ],
      "id": "7e0bdd4a-a40f-4d26-b7c3-c89ca97931c2",
      "name": "Wait (jittered)"
    },
    {
      "parameters": {
        "fromEmail": "info@arcom-technologies.hr",
        "toEmail": "={{ $json.output.email }}",
        "subject": "={{ $json.output.subject }}",
        "emailFormat": "both",
        "text": "={{ $json.output.message_text }}",
        "html": "={{ $json.output.message_html }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "info@arcom-technologies.hr"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1968,
        -64
      ],
      "id": "4a65d5a3-f707-405c-bfc4-19ab7044392d",
      "name": "Send Email"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DNA2ttiZE1NzWpxJ2N_zwCE7KZxIIPa7-Fgel_qFVVQ",
          "mode": "list",
          "cachedResultName": "KlijentiOutreach_Tracker",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 572639152,
          "mode": "list",
          "cachedResultName": "Sent",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp_sent": "={{ new Date().toISOString() }}",
            "email": "={{ $('Compute Random Delay').item.json.output.email }}",
            "business_name": "={{ $('Compute Random Delay').item.json.output.business_name }}",
            "country": "={{ $('Compute Random Delay').item.json.output.country }}",
            "niche": "={{ $('Compute Random Delay').item.json.output.niche }}",
            "language": "={{ $('Compute Random Delay').item.json.output.language }}",
            "subject": "={{ $('Compute Random Delay').item.json.output.subject }}",
            "message_text": "={{ $('Compute Random Delay').item.json.output.message_text }}",
            "follow_up_subject": "={{ $('Compute Random Delay').item.json.output.follow_up_subject }}",
            "follow_up_text": "={{ $('Compute Random Delay').item.json.output.follow_up_text }}",
            "follow_up_html": "={{ $('Compute Random Delay').item.json.output.follow_up_html }}",
            "follow_up_due_date": "={{ DateTime.now().plus({ days: 5 }).toISO() }}",
            "status": "sent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp_sent",
              "displayName": "timestamp_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_subject",
              "displayName": "follow_up_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_text",
              "displayName": "follow_up_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_html",
              "displayName": "follow_up_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_due_date",
              "displayName": "follow_up_due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_sent_at",
              "displayName": "follow_up_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2176,
        -64
      ],
      "id": "8385c821-da09-4e65-8df5-9e23d4a71286",
      "name": "Log to Sent Sheet"
    },
    {
      "parameters": {
        "chatId": "={{ $('Aggregate Sent Emails').first().json.chat_id }}",
        "text": "={{ `Gotovo. Cold-email batch je zavr\u0161en za zahtjev: \"${$('Aggregate Sent Emails').first().json.raw_brief}\". Follow-upovi \u0107e se automatski poslati za 5 dana za one koji ne odgovore.` }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2112,
        -256
      ],
      "id": "0940dd4e-a581-4fe7-88c5-5f0e8d967387",
      "name": "Telegram Summary - Bot 1"
    },
    {
      "parameters": {
        "toolDescription": "Search the web when the user asks about current information, news, prices, facts, companies, people, products, or anything that may require up-to-date information.",
        "url": "http://72.61.81.227:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        512,
        -48
      ],
      "id": "9ca640f4-0c04-46d3-8976-af652936e262",
      "name": "web_search"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8cd7ea9-484c-4dd4-a094-171d418eda33",
              "name": "output",
              "value": "null",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -368
      ],
      "id": "f53afcae-0b61-4123-8d93-41a2f1aacc95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -160
      ],
      "id": "84a6222e-ec56-410a-a4cc-6e6f1b6e8206",
      "name": "Telegram Trigger1"
    },
    {
      "parameters": {
        "jsCode": "// Mark that this execution came from Telegram account 1.\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    source_bot: 'telegram_1'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -320
      ],
      "id": "33a86caf-0a78-4717-9f45-46ef6057bc2d",
      "name": "Tag Telegram Source 1"
    },
    {
      "parameters": {
        "jsCode": "// Mark that this execution came from Telegram account 2.\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    source_bot: 'telegram_2'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -160
      ],
      "id": "ec84cfa6-a353-4c3b-9191-f231134ca0b0",
      "name": "Tag Telegram Source 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7ad3b22-7432-4cb0-aa9c-06523d284496",
              "leftValue": "={{ $('Aggregate Sent Emails').first().json.source_bot }}",
              "rightValue": "telegram_2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        -368
      ],
      "id": "81fed2e9-df3c-4d36-8889-7a7ad2368883",
      "name": "Route Telegram Summary"
    },
    {
      "parameters": {
        "chatId": "={{ $('Aggregate Sent Emails').first().json.chat_id }}",
        "text": "={{ `Gotovo. Cold-email batch je zavr\u0161en za zahtjev: \"${$('Aggregate Sent Emails').first().json.raw_brief}\". Follow-upovi \u0107e se automatski poslati za 5 dana za one koji ne odgovore.` }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        -432
      ],
      "id": "f2f32a3f-08aa-489f-a7cf-240b9c19e764",
      "name": "Telegram Summary - Bot 2"
    }
  ],
  "connections": {
    "Daily 09:00": {
      "main": [
        [
          {
            "node": "Read Sent Sheet (FU)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sent Sheet (FU)": {
      "main": [
        [
          {
            "node": "Filter Due Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Follow-ups": {
      "main": [
        [
          {
            "node": "Loop Over Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Due": {
      "main": [
        [],
        [
          {
            "node": "Compute Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up": {
      "main": [
        [
          {
            "node": "Mark Follow-up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Follow-up Sent": {
      "main": [
        [
          {
            "node": "Loop Over Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Tag Telegram Source 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Brief": {
      "main": [
        [
          {
            "node": "Read Sent for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sent for Dedup": {
      "main": [
        [
          {
            "node": "Aggregate Sent Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sent Emails": {
      "main": [
        [
          {
            "node": "Lead Discovery Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discovery LLM (mini)": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Discovery Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discovery Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Discovery Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "Lead Discovery Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lead Discovery Agent": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Filter Already-Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Already-Contacted": {
      "main": [
        [
          {
            "node": "Email Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer LLM (gpt-4.1)": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writer Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Email Writer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Random Delay": {
      "main": [
        [
          {
            "node": "Wait (jittered)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (jittered)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log to Sent Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sent Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Route Telegram Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Tag Telegram Source 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Telegram Source 1": {
      "main": [
        [
          {
            "node": "Parse Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Telegram Source 2": {
      "main": [
        [
          {
            "node": "Parse Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Telegram Summary": {
      "main": [
        [
          {
            "node": "Telegram Summary - Bot 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Summary - Bot 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "26d59d79-d457-40d8-80f1-c0bff74093cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  },
  "id": "W2bm_6irqgsfsVaeO8oIG",
  "tags": []
}