workflows/hpm-anita-accounting/workflow.json
{
  "name": "HPM-Anita",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_ID",
          "mode": "list",
          "cachedResultName": "HPM-Anita-N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "937949e6-f209-46aa-ae78-18601c784db3",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2266266f-fdba-4121-a1bb-146f70868fcb",
      "name": "Download file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c577c1e-3d99-4a83-9dcd-73c3277e5cc5",
              "name": "runId",
              "value": "=={{$now.toISO()}}-{{$execution.id}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "f6dfdede-4e83-494b-ac9f-8a6cc528e53c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-tools:8787/extract_pages",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        0
      ],
      "id": "f23d06d3-b8a3-4a65-a689-b8373bcb11cd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "340e62ec-ee1c-48b6-a4da-1294f431cf99",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nconst runId = $json.runId || 'default';\n\n// Namespacing po runId da se ne miješaju izvršenja\ndata.runs ??= {};\ndata.runs[runId] ??= {};\n\nconst run = data.runs[runId];\n\n// Init samo jednom\nrun.ledger ??= {\n  pages: {},        // pageNo -> { pageNo, accountNo, text }\n  accounts: {},     // accountNo -> matching state (unmatched/pairs/seen)\n  entries: []       // (opcionalno) svi parsirani redovi\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "ebaf27df-8fe9-48af-baef-1fc1d24d00d4",
      "name": "ledger"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw =\n  $json.text ||\n  $json.content ||\n  $json.raw ||\n  $json.pageText ||\n  '';\n\nfunction normalize(text) {\n  return String(text)\n    .replace(/\\r/g, '')\n    .replace(/\\u00A0/g, ' ')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{2,}/g, '\\n')\n    .trim();\n}\n\nreturn { pageText: normalize(raw) };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        224
      ],
      "id": "96068acd-709b-49a4-aff9-90f00e6038e8",
      "name": "Normalize Page Text"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Extract Ledger Rows - ORIGINAL + SIMPLE FIX\n * MODE: Run Once for Each Item\n */\n\nfunction normSpaces(s) {\n  return (s ?? '').toString().replace(/\\s+/g, ' ').trim();\n}\nfunction isTxnLine(line) {\n  return /^\\d{2}\\.\\d{2}\\.\\d{4}\\b/.test(line);\n}\nfunction isDetailLine(line) {\n  return /^\\d+\\s+\\d+\\s+\\d+\\s+[A-ZČĆŽŠĐ]{2,}\\s+\\d+/.test(line.trim());\n}\nfunction parseAmountToken(tok) {\n  if (!tok) return null;\n  const s = String(tok).trim();\n  if (!/^-?\\d{1,3}(\\.\\d{3})*,\\d{2}$/.test(s) && !/^-?\\d+,\\d{2}$/.test(s)) return null;\n  const cleaned = s.replace(/\\./g, '').replace(',', '.');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n}\nfunction lastAmountInText(desc) {\n  const m = String(desc || '').match(/(-?\\d{1,3}(?:\\.\\d{3})*,\\d{2}|-?\\d+,\\d{2})(?!.*\\d)/);\n  if (!m) return null;\n  return parseAmountToken(m[1]);\n}\nfunction isLikelyBrokenDesc(s) {\n  const t = (s || '').trim();\n  return /^[0-9]{2,6}$/.test(t) || t.length < 20;\n}\nfunction pickTextFromJson(j) {\n  if (!j) return '';\n  return (j.pageText ?? j.text ?? j.fullText ?? j.data ?? j.content ?? '');\n}\n\n// ---- workflow static data (robust) ----\nlet sd = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    sd = $getWorkflowStaticData('global') || {};\n  } else if (typeof $workflow !== 'undefined' && $workflow?.staticData) {\n    sd = $workflow.staticData;\n  }\n} catch (e) {\n  sd = {};\n}\n\nsd.__ledger = sd.__ledger || {};\nsd.__ledger.lastAccountNo = sd.__ledger.lastAccountNo || null;\nsd.__ledger.lastAccountName = sd.__ledger.lastAccountName || null;\n\n// ---- input text ----\nconst raw = String(pickTextFromJson($json) ?? '');\nif (!raw.trim()) {\n  return {\n    rows: [],\n    rowCount: 0,\n    warning: 'No pageText/text found on input item',\n    inputKeys: Object.keys($json || {}),\n  };\n}\n\n// ---- parse ----\nconst lines = raw\n  .split('\\n')\n  .map(l => l.replace(/\\r/g, '').trim())\n  .filter(Boolean);\n\nlet currentAccountNo = sd.__ledger.lastAccountNo;\nlet currentAccountName = sd.__ledger.lastAccountName;\n\nconst rows = [];\n\nfor (let idx = 0; idx < lines.length; idx++) {\n  const line = lines[idx];\n  const normalizedLine = normSpaces(line);\n\n  // header konta: \"Račun: 232110: Službena putovanja\"\n  const mh =\n    normalizedLine.match(/^Račun\\s*:\\s*([0-9]+)\\s*:\\s*(.+)$/i) ||\n    normalizedLine.match(/^Racun\\s*:\\s*([0-9]+)\\s*:\\s*(.+)$/i);\n\n  if (mh) {\n    currentAccountNo = mh[1];\n    currentAccountName = (mh[2] || '').trim();\n    sd.__ledger.lastAccountNo = currentAccountNo;\n    sd.__ledger.lastAccountName = currentAccountName;\n    continue;\n  }\n\n  if (!isTxnLine(line)) continue;\n\n  const accountNo = currentAccountNo || 'UNKNOWN_ACCOUNT';\n  const accountName = currentAccountName || '';\n\n  const parts = line.split(' ').filter(Boolean);\n  const date = parts[0];\n\n  // iznosi s kraja (max 3)\n  const amounts = [];\n  let cutIndex = parts.length;\n\n  for (let i = parts.length - 1; i >= 1; i--) {\n    const a = parseAmountToken(parts[i]);\n    if (a == null) break;\n    amounts.unshift(a);\n    cutIndex = i;\n    if (amounts.length === 3) break;\n  }\n\n  if (amounts.length === 0) continue;\n\n  let description = parts.slice(1, cutIndex).join(' ').trim();\n\n  // ============================================================================\n  // SIMPLE FIX: ako je description kratak, spoji s prethodnom linijom\n  // ============================================================================\n  if (isLikelyBrokenDesc(description)) {\n    // Provjeri prethodnu liniju\n    if (idx > 0) {\n      const prevLine = lines[idx - 1];\n      \n      // Ako prethodna linija NIJE detail linija i NIJE nova transakcija (s datumom)\n      if (!isDetailLine(prevLine)) {\n        // Ako prethodna linija IMA datum - to je početak trenutne transakcije\n        if (isTxnLine(prevLine)) {\n          // Izvuci opis iz prethodne linije (bez datuma i bez iznosa)\n          const prevParts = prevLine.split(' ').filter(Boolean);\n          const prevDesc = prevParts.slice(1).join(' ').trim();\n          \n          // Provjeri ima li prethodna linija iznose\n          const prevAmounts = [];\n          for (let i = prevParts.length - 1; i >= 1; i--) {\n            if (parseAmountToken(prevParts[i])) {\n              prevAmounts.unshift(prevParts[i]);\n            } else {\n              break;\n            }\n          }\n          \n          // Ako prethodna linija NEMA iznose, cijeli ostatak je opis\n          if (prevAmounts.length === 0 && prevDesc) {\n            description = prevDesc + ' ' + description;\n          }\n        } else {\n          // Prethodna linija je nastavak opisa (nema datum)\n          description = normSpaces(prevLine) + ' ' + description;\n        }\n      }\n    }\n  }\n  // ============================================================================\n\n  let duguje = 0;\n  let potrazuje = 0;\n  let saldo = null;\n\n  if (amounts.length === 3) {\n    duguje = Math.abs(amounts[0] ?? 0);\n    potrazuje = Math.abs(amounts[1] ?? 0);\n    saldo = amounts[2] ?? null;\n  } else if (amounts.length === 2) {\n    saldo = amounts[1] ?? null;\n\n    const isIzvod =\n      /\\bIzvod\\b/i.test(description) ||\n      /\\b-\\s*(Račun|Racun|RN)\\b/i.test(description);\n\n    if (isIzvod) {\n      duguje = Math.abs(amounts[0] ?? 0);\n      potrazuje = 0;\n\n      if (!duguje) {\n        const fromDesc = lastAmountInText(description);\n        if (fromDesc != null) duguje = Math.abs(fromDesc);\n      }\n    } else {\n      duguje = 0;\n      potrazuje = Math.abs(amounts[0] ?? 0);\n\n      if (!potrazuje) {\n        const fromDesc = lastAmountInText(description);\n        if (fromDesc != null) potrazuje = Math.abs(fromDesc);\n      }\n    }\n  } else {\n    continue;\n  }\n\n  rows.push({\n    accountNo,\n    accountName,\n    lineNo: idx + 1,\n    rawLine: normalizedLine,\n    date,\n    description,\n    duguje,\n    potrazuje,\n    saldo,\n  });\n}\n\n// IMPORTANT: in \"Run once for each item\" -> return OBJECT (not array, not {json:{...}})\nreturn {\n  rows,\n  rowCount: rows.length,\n  debug: {\n    lastAccountNo: sd.__ledger.lastAccountNo,\n    lastAccountName: sd.__ledger.lastAccountName,\n    inputKeys: Object.keys($json || {}),\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        224
      ],
      "id": "0a8daebc-1bfb-42c9-894d-591c561928d9",
      "name": "Extract Ledger Rows (Regex)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction norm(s) {\n  return (s ?? '').toString().replace(/\\s+/g, ' ').trim();\n}\nfunction dateKey(d) {\n  const [dd, mm, yyyy] = String(d || '').split('.');\n  if (!yyyy) return String(d || '');\n  return `${yyyy}${mm}${dd}`;\n}\n\n// pokušaj dohvatiti rows iz raznih mogućih mjesta\nfunction getRows(it) {\n  // standardno: it.json.rows\n  if (it && it.json && Array.isArray(it.json.rows)) return it.json.rows;\n\n  // fallback: neki slučajevi gdje node vrati “plain object”\n  if (it && Array.isArray(it.rows)) return it.rows;\n\n  // fallback: ako je netko stavio rows kao string (ne bi trebao)\n  return [];\n}\n\nconst byAcc = {};\nlet inputItems = items.length;\nlet totalRowsSeen = 0;\nlet sampleKeys = null;\n\nfor (const it of items) {\n  if (!sampleKeys && it && it.json) sampleKeys = Object.keys(it.json);\n\n  const rows = getRows(it);\n  totalRowsSeen += rows.length;\n\n  for (const r of rows) {\n    const acc = r.accountNo || 'UNKNOWN_ACCOUNT';\n    byAcc[acc] = byAcc[acc] || { accountName: r.accountName || '', rows: [] };\n    if (!byAcc[acc].accountName && r.accountName) byAcc[acc].accountName = r.accountName;\n    byAcc[acc].rows.push(r);\n  }\n}\n\nconst out = [];\n\nfor (const [accountNo, bucket] of Object.entries(byAcc)) {\n  const rows = bucket.rows;\n\n  rows.sort((a, b) => {\n    const da = dateKey(a.date);\n    const db = dateKey(b.date);\n    if (da !== db) return da.localeCompare(db);\n    return (a.lineNo ?? 0) - (b.lineNo ?? 0);\n  });\n\n  // dedup (date + rawLine)\n  const seen = new Set();\n  const deduped = [];\n  for (const r of rows) {\n    const k = `${norm(r.date)}|${norm(r.rawLine).toLowerCase()}`;\n    if (seen.has(k)) continue;\n    seen.add(k);\n    deduped.push(r);\n  }\n\n  out.push({\n    json: {\n      accountNo,\n      accountName: bucket.accountName || '',\n      rows: deduped,\n      rowCount: deduped.length,\n    }\n  });\n}\n\n// ako je out prazan, vrati debug item da znaš zašto\nif (out.length === 0) {\n  return [{\n    json: {\n      error: \"Group Accounts to Items: nisam našao nijedan row u input itemima.\",\n      hint: \"Provjeri da 'Extract Ledger Rows' vraća rows po itemu. U n8n Code node-u najsigurnije je da Extract vrati: return [{ json: { rows } }];\",\n      inputItems,\n      totalRowsSeen,\n      sampleFirstItemKeys: sampleKeys,\n      firstItemPreview: items[0]?.json ?? null,\n    }\n  }];\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        224
      ],
      "id": "61a36d45-b4d2-468b-959e-4e9e0e893bd5",
      "name": "Group Accounts to Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        224
      ],
      "id": "47ac3856-ea3e-4922-9646-bb761e55f199",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Match + Report (per account) - kompatibilno za Format Output\n *\n * SPECIAL 239210:\n * - \"obveza\" = D red (duguje>0) koji u opisu ima MM/YYYY i nije IRA/URA\n * - suma = zbroj POTRAŽUJE samo IRA/URA redova tog mjeseca (prema date)\n * - ako suma == obveza => obveza + IRA/URA used\n * - inače: IRA/URA used (sakrij), obveza ostaje unmatched\n * - unmatched za 239210 prikazuje SAMO obveze, uz stupce period/suma/diff\n *\n * SPECIAL 239220:\n * - match D vs P po (PDV period + amount) ako postoji\n * - fallback: match po amount-only kad je jedinstveni 1:1\n *\n * SPECIAL 239540:\n * - group matcher: SUMMARY \"Prijevoz MM/YY\" (ili MM/YYYY) zatvara period ako se suma detaila poklapa\n * - u SUMU ulaze samo detail redovi koji sadrže riječ \"prijevoz\" (točno, ne \"prijevoza\")\n * - ako detail opis sadrži MM/YY ili MM/YYYY => mora biti baš taj period (sprječava 12/2024 da uđe u 01/2025)\n * - LOCK: svi detail redovi perioda koji ima summary se zaključaju da ih drugi matcheri ne pojedu\n *\n * IRA matching uklonjen (ne koristi se za parove).\n */\n\n/**\n * ===== COMMON HELPERS + INPUT + SALDO + ENTRIES (STOP before match239210) =====\n * - NEMA duplog entries\n * - SALDO preferira eksplicitno Početno/Završno/Konačno/Zaključno stanje\n * - fallback: opening iz prvog saldo retka (saldo - net), ending iz zadnjeg saldo retka\n */\n\nfunction norm(s) { return (s ?? \"\").toString().replace(/\\s+/g, \" \").trim(); }\nfunction upper(s) { return norm(s).toUpperCase(); }\nfunction toFixed2(n) { return Math.round((Number(n) + Number.EPSILON) * 100) / 100; }\n\nfunction parseNum(x) {\n  if (x === null || x === undefined) return 0;\n  if (typeof x === \"number\") return Number.isFinite(x) ? x : 0;\n  let s = String(x).trim();\n  if (!s) return 0;\n  s = s.replace(/\\s+/g, \"\");\n  if (s.includes(\",\")) {\n    s = s.replace(/\\./g, \"\");\n    s = s.replace(\",\", \".\");\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\n// DD.MM.YYYY (ili D.M.YYYY) => YYYYMM\nfunction periodFromDate(dateStr) {\n  const s = String(dateStr || \"\").trim();\n  if (!s) return null;\n  const m = s.match(/^(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})\\.?$/);\n  if (!m) return null;\n  const mm = String(m[2]).padStart(2, \"0\");\n  const yyyy = m[3];\n  return `${yyyy}${mm}`;\n}\n\n// DD.MM.YYYY => YYYYMMDD (za redoslijed / ključeve)\nfunction parseDateKey(d) {\n  const s = String(d || \"\").trim();\n  const m = s.match(/^(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})\\.?$/);\n  if (!m) return s;\n  const dd = String(m[1]).padStart(2, \"0\");\n  const mm = String(m[2]).padStart(2, \"0\");\n  const yyyy = m[3];\n  return `${yyyy}${mm}${dd}`;\n}\n\n// MM/YYYY ili M/YYYY => YYYYMM\nfunction extractMonthYear(desc) {\n  const t = norm(desc);\n  const m = t.match(/\\b([0-1]?\\d)\\/(20\\d{2})\\b/);\n  if (!m) return null;\n  const mm = String(m[1]).padStart(2, \"0\");\n  const yyyy = m[2];\n  return `${yyyy}${mm}`;\n}\n\n// MM/YY ili M/YY => YYYYMM (pretpostavka 20YY)\nfunction extractMonthYearShort(desc) {\n  const t = norm(desc);\n  const m = t.match(/\\b([0-1]?\\d)\\/(\\d{2})\\b/);\n  if (!m) return null;\n  const mm = String(m[1]).padStart(2, \"0\");\n  const yyyy = `20${m[2]}`;\n  return `${yyyy}${mm}`;\n}\n\n// PDV period helper (239220)\nfunction extractPdvPeriodFlexible(desc) {\n  return extractMonthYear(desc) || extractMonthYearShort(desc);\n}\n\n// IRA/URA redovi (239210)\nfunction isIraUra(e) {\n  const d = upper(e.description);\n  return /\\b(IRA|URA)\\b/.test(d);\n}\n\n// \"obveza\" red za 239210\nfunction isMonthlyObveza239210(e) {\n  if (!(e.duguje > 0 && e.potrazuje === 0)) return false;\n  if (isIraUra(e)) return false;\n  return !!extractMonthYear(e.description);\n}\n\nfunction extractUR(desc) {\n  const t = norm(desc);\n  let m = t.match(/\\bURR?\\b\\s*[:\\-]?\\s*(\\d{2}\\/\\d{7,})\\b/i);\n  if (m) return m[1];\n  m = t.match(/\\bURR?\\b\\s*[:\\-]?\\s*(\\d{2}\\/\\d{5,})\\b/i);\n  if (m) return m[1];\n  m = t.match(/\\bURR?\\b\\s*[:\\-]?\\s*(\\d{2}\\-\\d{5,})\\b/i);\n  if (m) return m[1].replace(\"-\", \"/\");\n  return null;\n}\n\nfunction extractDocNo(desc) {\n  const t = norm(desc);\n  const m = t.match(/\\b([0-9]{2}\\/[0-9]{2,})\\b/);\n  return m ? m[1] : null;\n}\n\nfunction extractPN(desc) {\n  const t = norm(desc);\n  let m = t.match(/\\bPN\\s*([0-9]{2}\\/[0-9]{1,4})\\b/i);\n  if (m) return `PN ${m[1]}`;\n  m = t.match(/\\bref\\.?\\s*pn\\s*([0-9]{2}\\/[0-9]{1,4})\\b/i);\n  if (m) return `PN ${m[1]}`;\n  return null;\n}\n\nfunction extractPerson(desc) {\n  const t = norm(desc);\n  let m = t.match(/\\b([A-ZČĆŽŠĐ][a-zčćžšđ]+(?:[-'][A-Za-zČĆŽŠĐčćžšđ]+)?)\\s+([A-ZČĆŽŠĐ][a-zčćžšđ]+(?:[-'][A-Za-zČĆŽŠĐčćžšđ]+)?)\\b/);\n  if (m) return upper(`${m[1]} ${m[2]}`);\n  m = t.match(/\\b([A-ZČĆŽŠĐ]{2,}(?:[-'][A-ZČĆŽŠĐ]+)?)\\s+([A-ZČĆŽŠĐ]{2,}(?:[-'][A-ZČĆŽŠĐ]+)?)\\b/);\n  if (m) return upper(`${m[1]} ${m[2]}`);\n  return null;\n}\n\nfunction sideLabel(e) {\n  if (e.duguje > 0 && e.potrazuje === 0) return \"D\";\n  if (e.potrazuje > 0 && e.duguje === 0) return \"P\";\n  if (e.duguje > 0 && e.potrazuje > 0) return \"D+P\";\n  return \"-\";\n}\n\nfunction entryNet(e) { return toFixed2((e.duguje || 0) - (e.potrazuje || 0)); }\nfunction moneyAbsAmount(e) { return toFixed2(Math.max(Math.abs(e.duguje || 0), Math.abs(e.potrazuje || 0))); }\nfunction safeArray(x) { return Array.isArray(x) ? x : []; }\n\n// INPUT\nconst input = $json || {};\nconst accountNo = String(input.accountNo || input.account || \"UNKNOWN\").trim();\nconst accountName = input.accountName || \"\";\nconst rows = safeArray(input.rows);\n\nif (!rows.length) {\n  return [{\n    json: {\n      accountNo, accountName,\n      counts: { rows: 0, entries: 0, matches: 0, unmatched: 0 },\n      saldo: { first: null, last: null, delta: null },\n      unmatched: [],\n      unmatchedSignedSum: 0,\n      saldoCheck: { ok: false, reason: \"no rows\", diff: 0 }\n    }\n  }];\n}\n\n// ===== SALDO: preferiraj eksplicitne redove \"Početno\"/\"Završno/Konačno/Zaključno stanje\" =====\nlet openingSaldoFromRows = null;\nlet endingSaldoFromRows = null;\n\nfunction isOpeningSaldoLine(descUpper) {\n  return (descUpper.includes(\"POČETNO STANJE\") || descUpper.includes(\"POCETNO STANJE\"));\n}\n\nfunction isEndingSaldoLine(descUpper) {\n  return (\n    descUpper.includes(\"ZAVRŠNO STANJE\") ||\n    descUpper.includes(\"ZAVRSNO STANJE\") ||\n    descUpper.includes(\"KONAČNO STANJE\") ||\n    descUpper.includes(\"KONACNO STANJE\") ||\n    descUpper.includes(\"ZAKLJUČNO STANJE\") ||\n    descUpper.includes(\"ZAKLJUCNO STANJE\")\n  );\n}\n\nfor (const r of rows) {\n  const desc = norm(r.description || r.rawLine || \"\");\n  const DU = upper(desc);\n\n  if (isOpeningSaldoLine(DU)) {\n    if (r.saldo !== null && r.saldo !== undefined && String(r.saldo).trim() !== \"\") {\n      openingSaldoFromRows = parseNum(r.saldo);\n    }\n    continue;\n  }\n\n  if (isEndingSaldoLine(DU)) {\n    if (r.saldo !== null && r.saldo !== undefined && String(r.saldo).trim() !== \"\") {\n      endingSaldoFromRows = parseNum(r.saldo);\n    }\n    continue;\n  }\n}\n\n// ===== build entries (SINGLE source of truth) =====\nconst entries = [];\nfor (const r of rows) {\n  const desc = norm(r.description || r.rawLine || \"\");\n  const DU = upper(desc);\n\n  // preskoči saldo header linije\n  if (isOpeningSaldoLine(DU)) continue;\n  if (isEndingSaldoLine(DU)) continue;\n\n  const duguje = parseNum(r.duguje);\n  const potrazuje = parseNum(r.potrazuje);\n  if (!(duguje || potrazuje)) continue;\n\n  const e = {\n    idx: entries.length,\n    date: norm(r.date || \"\"),\n    dateKey: parseDateKey(r.date || \"\"),\n    description: desc,\n    rawLine: norm(r.rawLine || \"\"),\n    lineNo: (r.lineNo ?? null),\n\n    duguje,\n    potrazuje,\n    saldo: (r.saldo === null || r.saldo === undefined || String(r.saldo).trim() === \"\")\n      ? null\n      : parseNum(r.saldo),\n  };\n\n  e.amount = moneyAbsAmount(e);\n  e.net = entryNet(e);\n\n  e.ur = extractUR(e.description);\n  e.docNo = extractDocNo(e.description);\n  e.pn = extractPN(e.description);\n  e.person = extractPerson(e.description);\n\n  e.periodDate = periodFromDate(e.date);\n  e.periodDescLong = extractMonthYear(e.description);\n  e.periodDescShort = extractMonthYearShort(e.description);\n  e.pdvPeriodFlex = extractPdvPeriodFlexible(e.description);\n\n  entries.push(e);\n}\n\n// ===== saldo check (preferiraj eksplicitno početno + završno) =====\n// ===== SALDO: robustno iz rows (uključuje saldo-only linije) =====\nfunction rowOrderKey(r) {\n  const dk = parseDateKey(r.date || \"\");\n  const ln = (r.lineNo ?? 0);\n  return `${dk}|${String(ln).padStart(6, \"0\")}`;\n}\n\n// skupljaj sve redove koji imaju saldo broj (čak i ako su D=0/P=0)\nconst saldoCandidates = [];\nfor (const r of rows) {\n  const desc = norm(r.description || r.rawLine || \"\");\n  const DU = upper(desc);\n\n  const s = (r.saldo === null || r.saldo === undefined || String(r.saldo).trim() === \"\")\n    ? null\n    : parseNum(r.saldo);\n\n  if (!(typeof s === \"number\" && Number.isFinite(s))) continue;\n\n  const d = parseNum(r.duguje);\n  const p = parseNum(r.potrazuje);\n\n  saldoCandidates.push({\n    kind: isOpeningSaldoLine(DU) ? \"OPENING\"\n        : isEndingSaldoLine(DU)   ? \"ENDING\"\n        : (Math.abs(d) <= 0.0001 && Math.abs(p) <= 0.0001) ? \"SALDO_ONLY\"\n        : \"TXN_SALDO\",\n    saldo: s,\n    order: rowOrderKey(r),\n  });\n}\n\n// sort po vremenu/liniji\nsaldoCandidates.sort((a, b) => a.order.localeCompare(b.order));\n\n// preferencije: eksplicitno > saldo-only > prvi/zadnji saldo kandidat\nconst openingExplicit = saldoCandidates.find(x => x.kind === \"OPENING\")?.saldo ?? null;\nconst endingExplicit  = [...saldoCandidates].reverse().find(x => x.kind === \"ENDING\")?.saldo ?? null;\n\nconst firstAnySaldo = saldoCandidates.length ? saldoCandidates[0].saldo : null;\nconst lastAnySaldo  = saldoCandidates.length ? saldoCandidates[saldoCandidates.length - 1].saldo : null;\n\nlet openingSaldo = openingExplicit ?? firstAnySaldo;\nlet endingSaldo  = endingExplicit  ?? lastAnySaldo;\n\n// netAll i saldoCheck ostaju isti\nconst netAll = toFixed2(entries.reduce((s, e) => s + e.net, 0));\n\nlet saldoDelta = null;\nlet saldoOk = null;\nlet saldoDiff = 0;\n\nif (openingSaldo != null && endingSaldo != null) {\n  saldoDelta = toFixed2(endingSaldo - openingSaldo);\n  saldoDiff = toFixed2(saldoDelta - netAll);\n  saldoOk = (Math.abs(saldoDiff) <= 0.01);\n}\n\nconst used = new Set();\nconst matchedPairs = [];\n\n// ===== SPECIAL 239210: SUM IRA/URA per month =====\n// ... tvoj match239210 dolje\nfunction match239210(entries, used, matchedPairs) {\n  if (accountNo !== \"239210\") return;\n\n  const obveze = entries.filter(e => !used.has(e.idx) && isMonthlyObveza239210(e));\n  if (!obveze.length) return;\n\n  // sum of IRA/URA P by month from date\n  const sumIraByPeriod = new Map();\n  const iraByPeriod = new Map();\n\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!(e.potrazuje > 0 && e.duguje === 0)) continue;\n    if (!isIraUra(e)) continue;\n    const per = e.periodDate;\n    if (!per) continue;\n\n    sumIraByPeriod.set(per, toFixed2((sumIraByPeriod.get(per) || 0) + e.potrazuje));\n    if (!iraByPeriod.has(per)) iraByPeriod.set(per, []);\n    iraByPeriod.get(per).push(e);\n  }\n\n  for (const obv of obveze) {\n    const per = obv.periodDescLong; // obveza mora imati MM/YYYY\n    const iraList = iraByPeriod.get(per) || [];\n\n    // sakrij IRA/URA redove tog perioda (da se ne vide u unmatched excelu)\n    for (const p of iraList) used.add(p.idx);\n\n    const sum = toFixed2(sumIraByPeriod.get(per) || 0);\n    const diff = toFixed2(obv.duguje - sum);\n\n    // spremi za excel stupce\n    obv.period = per;\n    obv.suma = sum;\n    obv.diff = diff;\n\n    if (iraList.length && Math.abs(diff) <= 0.01) {\n      used.add(obv.idx);\n      matchedPairs.push({ reason: \"239210_SUM_OK\", key: `239210|${per}`, a: obv, b: iraList[0] });\n    } else {\n      matchedPairs.push({\n        reason: iraList.length ? \"239210_SUM_MISMATCH\" : \"239210_NO_IRA\",\n        key: `239210|${per}|DIFF=${diff}`,\n        a: obv,\n        b: iraList[0] || obv,\n      });\n      // obv ostaje unmatched namjerno\n    }\n  }\n}\n\nmatch239210(entries, used, matchedPairs);\n\n// ===== SPECIAL 239220: PDV period + amount pairing =====\nfunction match239220(entries, used, matchedPairs) {\n  if (accountNo !== \"239220\") return;\n\n  const remaining = entries.filter(e => !used.has(e.idx));\n\n  const dList = remaining.filter(e => e.duguje > 0 && e.potrazuje === 0);\n  const pList = remaining.filter(e => e.potrazuje > 0 && e.duguje === 0);\n\n  // Stage A: period + amount exact 1:1\n  const map = new Map(); // key -> {d:[], p:[]}\n  function add(side, e) {\n    const per = e.pdvPeriodFlex; // YYYYMM from 01/25 or 01/2025\n    if (!per) return;\n    const key = `${per}|${e.amount}`;\n    if (!map.has(key)) map.set(key, { d: [], p: [] });\n    map.get(key)[side].push(e);\n  }\n\n  for (const e of dList) add(\"d\", e);\n  for (const e of pList) add(\"p\", e);\n\n  for (const [key, g] of map.entries()) {\n    if (g.d.length === 1 && g.p.length === 1) {\n      const a = g.d[0], b = g.p[0];\n      if (used.has(a.idx) || used.has(b.idx)) continue;\n      used.add(a.idx); used.add(b.idx);\n      matchedPairs.push({ reason: \"239220_PDV_PERIOD_AMT\", key, a, b });\n    }\n  }\n\n  // Stage B: amount-only unique 1:1 fallback for remaining\n  const rem2 = entries.filter(e => !used.has(e.idx));\n  const byAmt = new Map(); // amt -> {d:[], p:[]}\n  for (const e of rem2) {\n    if (e.duguje > 0 && e.potrazuje === 0) {\n      if (!byAmt.has(e.amount)) byAmt.set(e.amount, { d: [], p: [] });\n      byAmt.get(e.amount).d.push(e);\n    } else if (e.potrazuje > 0 && e.duguje === 0) {\n      if (!byAmt.has(e.amount)) byAmt.set(e.amount, { d: [], p: [] });\n      byAmt.get(e.amount).p.push(e);\n    }\n  }\n\n  for (const [amt, g] of byAmt.entries()) {\n    if (g.d.length === 1 && g.p.length === 1) {\n      const a = g.d[0], b = g.p[0];\n      if (used.has(a.idx) || used.has(b.idx)) continue;\n      used.add(a.idx); used.add(b.idx);\n      matchedPairs.push({ reason: \"239220_AMT_ONLY\", key: `AMT|${amt}`, a, b });\n    }\n  }\n}\n\nmatch239220(entries, used, matchedPairs);\n\n// ===== Generic matcher (UR/PN/DOC/PERSON/AMT) =====\nfunction keysFor(e) {\n  const keys = [];\n  const a = e.amount;\n  if (e.ur) keys.push(`UR|${a}|${e.ur}`);\n  if (e.pn) keys.push(`PN|${a}|${e.pn}`);\n  if (e.docNo) keys.push(`DOC|${a}|${e.docNo}`);\n  if (e.person) keys.push(`PERSON|${a}|${e.person}`);\n  if (e.person && !e.pn && !e.ur) keys.push(`PERSON_ONLY|${a}|${e.person}`);\n  keys.push(`AMT|${a}`);\n  return keys;\n}\n\nfunction buildIndex(list, prefix) {\n  const map = new Map();\n  for (const e of list) {\n    for (const k of keysFor(e)) {\n      if (prefix && !k.startsWith(prefix)) continue;\n      if (!map.has(k)) map.set(k, []);\n      map.get(k).push(e);\n    }\n  }\n  return map;\n}\n\n// ===== SPECIAL 232910: \"block sum\" around CREDIT (POTRAŽUJE) =====\nfunction match232910(entries, used, matchedPairs) {\n  if (accountNo !== \"232910\") return;\n\n  const remaining = entries.filter(e => !used.has(e.idx));\n  const credits = remaining\n    .filter(e => e.potrazuje > 0 && e.duguje === 0)\n    .sort((a, b) => a.idx - b.idx);\n\n  if (!credits.length) return;\n\n  const tol = 0.01;\n\n  function collectDebitsBetween(idxFromExclusive, idxToExclusive) {\n    const list = [];\n    for (const e of entries) {\n      if (used.has(e.idx)) continue;\n      if (!(e.duguje > 0 && e.potrazuje === 0)) continue;\n      if (e.idx > idxFromExclusive && e.idx < idxToExclusive) list.push(e);\n    }\n    return list;\n  }\n\n  function sumDebits(list) {\n    return toFixed2(list.reduce((s, e) => s + (e.duguje || 0), 0));\n  }\n\n  const creditIdxs = credits.map(c => c.idx);\n\n  for (let i = 0; i < credits.length; i++) {\n    const c = credits[i];\n    if (used.has(c.idx)) continue;\n\n    const prevCreditIdx = (i > 0) ? creditIdxs[i - 1] : -1;\n    const nextCreditIdx = (i < credits.length - 1) ? creditIdxs[i + 1] : Number.POSITIVE_INFINITY;\n\n    const creditAmt = toFixed2(c.potrazuje || 0);\n\n    const debitsBefore = collectDebitsBetween(prevCreditIdx, c.idx);\n    const sumBefore = sumDebits(debitsBefore);\n    const diffBefore = toFixed2(creditAmt - sumBefore);\n\n    if (debitsBefore.length && Math.abs(diffBefore) <= tol) {\n      used.add(c.idx);\n      for (const d of debitsBefore) used.add(d.idx);\n\n      matchedPairs.push({\n        reason: \"232910_BLOCK_BEFORE\",\n        key: `232910|P=${creditAmt}|SUM=${sumBefore}|RANGE=(${prevCreditIdx},${c.idx})`,\n        a: debitsBefore[0],\n        b: c,\n      });\n      continue;\n    }\n\n    const debitsAfter = collectDebitsBetween(c.idx, nextCreditIdx);\n    const sumAfter = sumDebits(debitsAfter);\n    const diffAfter = toFixed2(creditAmt - sumAfter);\n\n    if (debitsAfter.length && Math.abs(diffAfter) <= tol) {\n      used.add(c.idx);\n      for (const d of debitsAfter) used.add(d.idx);\n\n      matchedPairs.push({\n        reason: \"232910_BLOCK_AFTER\",\n        key: `232910|P=${creditAmt}|SUM=${sumAfter}|RANGE=(${c.idx},${nextCreditIdx})`,\n        a: c,\n        b: debitsAfter[0],\n      });\n      continue;\n    }\n  }\n}\n\nmatch232910(entries, used, matchedPairs);\n\n// ===== SPECIAL 239540: monthly transport group matcher =====\n\n// --- helpers: period extraction ---\n\nfunction extractDayMonthFromText(desc) {\n  const t = norm(desc || \"\");\n  // hvata 01.10. / 1.10. / 01.10 (bez zadnje točke)\n  const m = t.match(/\\b(\\d{1,2})\\.(\\d{1,2})\\.?\\b/);\n  if (!m) return null;\n  const dd = String(m[1]).padStart(2, \"0\");\n  const mm = String(m[2]).padStart(2, \"0\");\n  return { dd, mm };\n}\n\nfunction extractYearFromDateStr(dateStr) {\n  const s = String(dateStr || \"\").trim();\n  const m = s.match(/^\\d{1,2}\\.\\d{1,2}\\.(\\d{4})\\.?$/);\n  return m ? m[1] : null;\n}\n\n// key koji koristimo za grupiranje: YYYYMMDD\nfunction deriveYyyyMmDdKeyFromDescAndEntry(desc, e) {\n  const dm = extractDayMonthFromText(desc);\n  if (!dm) return null;\n\n  const yyyy =\n    extractYearFromDateStr(e.date) ||\n    (e.periodDate ? e.periodDate.slice(0, 4) : null);\n\n  if (!yyyy) return null;\n  return `${yyyy}${dm.mm}${dm.dd}`;\n}\n\nfunction isZrTrosakCredit(e) {\n  // P red \"Trošak refundiran djelatniku na ž-r 01.10.\"\n  if (!(e.potrazuje > 0 && e.duguje === 0)) return false;\n  const d = upper(e.description || \"\");\n  return d.includes(\"TROŠAK\") || d.includes(\"TROSAK\") ? d.includes(\"Ž-R\") || d.includes(\"Z-R\") : false;\n}\n\nfunction isRefundDebitCandidate(e) {\n  // D redovi tipično: \"Izvod ... REF Refundacija zaposleniku - ref....\"\n  if (!(e.duguje > 0 && e.potrazuje === 0)) return false;\n  const d = upper(e.description || \"\");\n  return d.includes(\"IZVOD\") && /\\bREF\\b/.test(d) && d.includes(\"REFUNDAC\");\n}\n\nfunction extractIzvodId(desc) {\n  const t = norm(desc || \"\");\n  const m = t.match(/\\bIzvod\\s+(\\d{2}\\/\\d{4,})\\b/i);\n  return m ? m[1] : null;\n}\n\nfunction normToken(s) {\n  return upper(s || \"\")\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, \" \")   // makni znakove, ostavi slova/brojeve\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction extractMerchantTokensFromDesc(desc) {\n  // npr. \"04.07. Chipoteka , links\" -> [\"CHIPOTEKA\",\"LINKS\"]\n  let t = norm(desc || \"\");\n\n  // makni vodeći datum (dd.mm. ili dd.mm.yyyy)\n  t = t.replace(/^\\s*\\d{1,2}\\.\\d{1,2}\\.(?:\\d{2,4}\\.)?\\s*/i, \"\");\n\n  // split po zarezima i \" i \" i \"/\" i \"&\"\n  const parts = t\n    .split(/,|\\/|&|\\s+\\bi\\b\\s+/i)\n    .map(x => normToken(x))\n    .filter(x => x.length >= 3);\n\n  // uniq\n  return Array.from(new Set(parts));\n}\n\nfunction descHasAnyToken(desc, tokens) {\n  const d = upper(desc || \"\");\n  return tokens.some(tok => tok && d.includes(tok));\n}\n\nfunction descHasToken(desc, token) {\n  const d = upper(desc || \"\");\n  return token && d.includes(token);\n}\nfunction hasPrijevozExactWord(desc) {\n  const d = upper(desc || \"\");\n  // PRIJEVOZ, ali ne \"PRIJEVOZA/PRIJEVOZU...\"\n  return /\\bPRIJEVOZ(?![A-ZČĆŽŠĐ])/.test(d);\n}\n\nfunction hasPrijevozSummaryWord(desc) {\n  const d = upper(desc || \"\");\n  // summary smije biti \"PRIJEVOZ\" ili \"PRIJEVOZA\"\n  return /\\bPRIJEVOZ(A)?\\b/.test(d);\n}\nfunction extractPeriodFromDateInText(desc) {\n  const t = norm(desc);\n  let m = t.match(/\\b(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})\\.?\\b/);\n  if (m) return `${m[3]}${String(m[2]).padStart(2, \"0\")}`;\n  m = t.match(/\\b(\\d{1,2})\\.(\\d{1,2})\\.(\\d{2})\\.?\\b/);\n  if (m) return `20${m[3]}${String(m[2]).padStart(2, \"0\")}`;\n  return null;\n}\nfunction extractMonthYearAnyFlex(desc) {\n  return extractMonthYear(desc) || extractMonthYearShort(desc) || extractPeriodFromDateInText(desc);\n}\nfunction extractAnyPeriodToken(desc) {\n  return extractMonthYear(desc) || extractMonthYearShort(desc) || null;\n}\n\n// PRIJEVOZ = točna riječ, ali dozvoli \"PRIJEVOZ01/2025\" (digits ok), ne dozvoli \"PRIJEVOZA\"\nfunction hasTransportWord(desc) {\n  const d = upper(desc || \"\");\n  return /\\bPRIJEVOZ(?![A-ZČĆŽŠĐ])/.test(d);\n}\n\n// Summary = kratak naslov (\"Prijevoz 01/25\").\n// Sve \"Izvod ... isp ...\" su detail, nikad summary.\nfunction is239540SummaryTransport(e) {\n  const d = upper(e.description || \"\");\n\n  // summary smije biti PRIJEVOZ ili PRIJEVOZA\n  if (!hasPrijevozSummaryWord(d)) return false;\n\n  const per = extractMonthYearAnyFlex(e.description) || e.periodDate;\n  if (!per) return false;\n\n  // izvod/isp su detail\n  if (d.includes(\"IZVOD\")) return false;\n  if (/\\bISP\\.?\\b/.test(d)) return false;\n\n  // \"refundacija prijevoza djelatnicima ...\" je tipičan summary\n  // (a i \"Prijevoz 10/25\" je summary)\n  return d.length <= 120; // malo veći limit jer rečenica zna biti duža\n}\n\nfunction periodFor239540Detail(e) {\n  return extractMonthYearAnyFlex(e.description) || e.periodDate || null;\n}\n\n// Detail:\n// - mora imati riječ PRIJEVOZ (točno)\n// - ako u opisu postoji MM/YY ili MM/YYYY -> mora biti baš taj period\n// - inače fallback na date period\nfunction is239540DetailTransport(e, period) {\n  const desc = e.description || \"\";\n  const d = upper(desc);\n\n  if (!hasPrijevozExactWord(d)) return false;\n  if (is239540SummaryTransport(e)) return false;\n\n  const perInDesc = extractAnyPeriodToken(desc);\n  if (perInDesc) return perInDesc === period;\n\n  return e.periodDate === period;\n}\n\nfunction match239540TransportMonthlyGroups(entries, used, matchedPairs) {\n  if (accountNo !== \"239540\") return;\n\n  const tol = 0.01;\n\n  // A) summaries + periods\n  const summaries = entries\n    .filter(e => !used.has(e.idx))\n    .filter(e => is239540SummaryTransport(e));\n\n  if (!summaries.length) return;\n\n  const summaryPeriods = new Set();\n  for (const s of summaries) {\n    const per = extractMonthYearAnyFlex(s.description) || s.periodDate;\n    if (per) summaryPeriods.add(per);\n  }\n\n  // B) LOCK: zaključaj sve detail kandidate perioda koji ima summary\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (is239540SummaryTransport(e)) continue;\n   if (!hasPrijevozExactWord(e.description)) continue;\n\n    const per = periodFor239540Detail(e);\n    if (per && summaryPeriods.has(per)) e._lock239540 = per;\n  }\n\n  // C) close each summary period\n  for (const sumRow of summaries) {\n    if (used.has(sumRow.idx)) continue;\n\n    const period = extractMonthYearAnyFlex(sumRow.description) || sumRow.periodDate;\n    if (!period) continue;\n\n    const sumAmt = toFixed2(sumRow.amount);\n\n    const members = entries\n      .filter(e => !used.has(e.idx))\n      .filter(e => is239540DetailTransport(e, period));\n\n    if (!members.length) continue;\n\n    const membersD = members.filter(e => e.duguje > 0 && e.potrazuje === 0);\n    const membersP = members.filter(e => e.potrazuje > 0 && e.duguje === 0);\n\n    const sumD = toFixed2(membersD.reduce((s, e) => s + (e.duguje || 0), 0));\n    const sumP = toFixed2(membersP.reduce((s, e) => s + (e.potrazuje || 0), 0));\n\n    function acceptMatchedPeriod(which, matchedSum) {\n      used.add(sumRow.idx);\n      for (const e of members) used.add(e.idx);\n      for (const e of members) delete e._lock239540;\n\n      matchedPairs.push({\n        reason: \"239540_GROUP_TRANSPORT_PERIOD_CLOSED\",\n        key: `239540|TRANSPORT|${period}|MATCH=${which}|SUM=${matchedSum}|MEMBERS=${members.length}`,\n        a: sumRow,\n        b: members[0] || sumRow,\n      });\n    }\n\n    // match: summary može biti D ili P, ali koristimo absolute amount (sumRow.amount)\n    const diffD = toFixed2(sumAmt - sumD);\n    const diffP = toFixed2(sumAmt - sumP);\n\n    const netPD = toFixed2(sumP - sumD);\n    const diffNet = toFixed2(sumAmt - Math.abs(netPD));\n\n    if (membersD.length && Math.abs(diffD) <= tol) { acceptMatchedPeriod(\"SUM_D\", sumD); continue; }\n    if (membersP.length && Math.abs(diffP) <= tol) { acceptMatchedPeriod(\"SUM_P\", sumP); continue; }\n    if (members.length  && Math.abs(diffNet) <= tol) { acceptMatchedPeriod(\"NET(P-D)\", netPD); continue; }\n\n    matchedPairs.push({\n      reason: \"239540_GROUP_TRANSPORT_NO_MATCH\",\n      key: `239540|TRANSPORT|${period}|SUM=${sumAmt}|sumD=${sumD}|sumP=${sumP}|net=${netPD}`,\n      a: sumRow,\n      b: members[0] || sumRow,\n    });\n  }\n}\n\n// IMPORTANT: call this BEFORE amount-only pairing\nmatch239540TransportMonthlyGroups(entries, used, matchedPairs);\n\nfunction match239540MultiNameCreditSum(entries, used, matchedPairs) {\n  if (accountNo !== \"239540\") return;\n\n  const tol = 0.01;\n\n  // kandidati na P strani: potrazuje>0, opis ima bar 2 \"merchant\" tokena\n  const creditCandidates = entries\n    .filter(e => !used.has(e.idx))\n    .filter(e => e.potrazuje > 0 && e.duguje === 0)\n    .map(e => ({ e, tokens: extractMerchantTokensFromDesc(e.description) }))\n    .filter(x => x.tokens.length >= 2);\n\n  if (!creditCandidates.length) return;\n\n  // pripremi D refund redove (duguje>0) koji imaju RN/ref/izvod (da ne kupimo svašta)\n  const debitCandidates = entries\n    .filter(e => !used.has(e.idx))\n    .filter(e => e.duguje > 0 && e.potrazuje === 0)\n    .filter(e => /\\bREF\\b/i.test(e.description) || /\\bRN\\b/i.test(e.description) || /\\bIzvod\\b/i.test(e.description));\n\n  for (const { e: credit, tokens } of creditCandidates) {\n    if (used.has(credit.idx)) continue;\n\n    const creditAmt = toFixed2(credit.potrazuje || 0);\n    const creditPeriod = credit.periodDate || extractMonthYearAnyFlex(credit.description);\n    const creditIzvod = extractIzvodId(credit.description); // često null\n\n    // 1) kandidati na D strani: isti period (ako znamo period) + sadrže bar jedan token\n    let cands = debitCandidates.filter(d => {\n      if (used.has(d.idx)) return false;\n      if (creditPeriod && d.periodDate && d.periodDate !== creditPeriod) return false;\n      return descHasAnyToken(d.description, tokens);\n    });\n\n    if (!cands.length) continue;\n\n    // 2) ako D redovi imaju izvod id i većina dijeli isti izvod -> ograniči na taj izvod\n    // (ovo sprječava slučajno miješanje dva izvoda istog mjeseca)\n    const izvodCounts = new Map();\n    for (const d of cands) {\n      const iz = extractIzvodId(d.description);\n      if (!iz) continue;\n      izvodCounts.set(iz, (izvodCounts.get(iz) || 0) + 1);\n    }\n\n    // ako credit ima izvod, koristi njega; inače uzmi najčešći izvod ako postoji\n    let targetIzvod = creditIzvod || null;\n    if (!targetIzvod && izvodCounts.size) {\n      targetIzvod = Array.from(izvodCounts.entries()).sort((a,b)=>b[1]-a[1])[0][0];\n    }\n    if (targetIzvod) {\n      const filtered = cands.filter(d => extractIzvodId(d.description) === targetIzvod);\n      if (filtered.length) cands = filtered;\n    }\n\n    // 3) greedy: uzmi samo one D redove koji pokrivaju sve tokene (bar 1 po tokenu)\n    // i provjeri sumu\n    const chosen = [];\n    const covered = new Set();\n\n    // sortiraj po idx da bude deterministično\n    cands.sort((a,b)=>a.idx-b.idx);\n\n    for (const d of cands) {\n      // dodaj ako doprinosi pokrivanju tokena\n      let addsCoverage = false;\n      for (const t of tokens) {\n        if (!covered.has(t) && descHasToken(d.description, t)) {\n          addsCoverage = true;\n          break;\n        }\n      }\n      if (addsCoverage) {\n        chosen.push(d);\n        for (const t of tokens) if (descHasToken(d.description, t)) covered.add(t);\n      }\n      if (covered.size === tokens.length) break;\n    }\n\n    // ako nismo pokrili sve tokene, ipak možemo pokušati sumirati sve cands (nekad tokeni nisu 1:1)\n    // ali samo ako suma točno sjedne\n    function tryCloseWith(list, reasonKey) {\n      const sumD = toFixed2(list.reduce((s,x)=>s+(x.duguje||0),0));\n      if (Math.abs(sumD - creditAmt) > tol) return false;\n\n      used.add(credit.idx);\n      for (const d of list) used.add(d.idx);\n\n      matchedPairs.push({\n        reason: \"239540_MULTI_NAME_SUM\",\n        key: `239540|MULTI|PER=${creditPeriod||\"?\"}|IZ=${targetIzvod||\"?\"}|TOKENS=${tokens.join(\"+\")}|SUMD=${sumD}|P=${creditAmt}|MODE=${reasonKey}`,\n        a: credit,\n        b: list[0] || credit,\n      });\n      return true;\n    }\n\n    // prvo pokušaj s “chosen” ako pokriva sve tokene\n    if (covered.size === tokens.length && chosen.length) {\n      if (tryCloseWith(chosen, \"COVER_ALL_TOKENS\")) continue;\n    }\n\n    // fallback: probaj sa svim kandidatima (za slučaj da isti vendor nije spomenut u svakom redu ili su tokeni “noisy”)\n    if (tryCloseWith(cands, \"ALL_CANDS\")) continue;\n  }\n}\nmatch239540TransportMonthlyGroups(entries, used, matchedPairs);\nmatch239540MultiNameCreditSum(entries, used, matchedPairs);   // <-- NOVO\nmatch239540(entries, used, matchedPairs);\n\nfunction match239540ZrTrosakByDay(entries, used, matchedPairs) {\n  if (accountNo !== \"239540\") return;\n\n  const tol = 0.01;\n\n  // 1) grupiraj P \"Trošak ... ž-r dd.mm.\" po YYYYMMDD i (ako postoji) Izvodu\n  const creditGroups = new Map(); // key -> { credits:[], sumP }\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!isZrTrosakCredit(e)) continue;\n\n    const dayKey = deriveYyyyMmDdKeyFromDescAndEntry(e.description, e);\n    if (!dayKey) continue;\n\n    const izvod = extractIzvodId(e.description) || \"\"; // često nema na toj liniji\n    const key = `${dayKey}|IZ=${izvod}`;\n\n    if (!creditGroups.has(key)) creditGroups.set(key, { dayKey, izvod, credits: [], sumP: 0 });\n    const g = creditGroups.get(key);\n    g.credits.push(e);\n    g.sumP = toFixed2(g.sumP + (e.potrazuje || 0));\n  }\n\n  if (!creditGroups.size) return;\n\n  // 2) indexiraj D refund stavke po YYYYMMDD i Izvodu\n  const debitGroups = new Map(); // key -> { debits:[], sumD }\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!isRefundDebitCandidate(e)) continue;\n\n    // datum je pouzdaniji iz e.date (jer D red ima pun datum)\n    const dayKey = (e.dateKey && /^\\d{8}$/.test(e.dateKey)) ? e.dateKey : null;\n    if (!dayKey) continue;\n\n    const izvod = extractIzvodId(e.description) || \"\";\n    const key = `${dayKey}|IZ=${izvod}`;\n\n    if (!debitGroups.has(key)) debitGroups.set(key, { dayKey, izvod, debits: [], sumD: 0 });\n    const g = debitGroups.get(key);\n    g.debits.push(e);\n    g.sumD = toFixed2(g.sumD + (e.duguje || 0));\n  }\n\n  // 3) pokušaj match: prvo striktno (isti dayKey + isti izvod), pa fallback (isti dayKey bilo koji izvod)\n  for (const [ckey, cg] of creditGroups.entries()) {\n    // skip ako su već used (u međuvremenu)\n    cg.credits = cg.credits.filter(x => !used.has(x.idx));\n    if (!cg.credits.length) continue;\n\n    const creditSum = cg.sumP;\n\n    // A) striktno: isti IZ (ako ga imamo)\n    let matchKey = `${cg.dayKey}|IZ=${cg.izvod}`;\n    let dg = debitGroups.get(matchKey);\n\n    // B) fallback: ako credit nema izvod u opisu, pokušaj naći jedinstven debit izvod za taj dayKey\n    if (!dg && !cg.izvod) {\n      const candidates = Array.from(debitGroups.values()).filter(x => x.dayKey === cg.dayKey);\n      if (candidates.length === 1) dg = candidates[0];\n      else {\n        // ako ih je više, probaj pronaći onaj čija suma paše\n        dg = candidates.find(x => Math.abs(toFixed2(x.sumD - creditSum)) <= tol) || null;\n      }\n    }\n\n    if (!dg || !dg.debits.length) continue;\n\n    // sum check\n    if (Math.abs(toFixed2(dg.sumD - creditSum)) > tol) continue;\n\n    // mark used\n    for (const c of cg.credits) used.add(c.idx);\n    for (const d of dg.debits) used.add(d.idx);\n\n    matchedPairs.push({\n      reason: \"239540_ZR_TROSAK_BY_DAY_SUM\",\n      key: `239540|ZR|DAY=${cg.dayKey}|IZ=${dg.izvod || \"?\"}|P=${creditSum}|D=${dg.sumD}|C=${cg.credits.length}|Dcnt=${dg.debits.length}`,\n      a: cg.credits[0],\n      b: dg.debits[0] || cg.credits[0],\n    });\n  }\n}\n\nmatch239540TransportMonthlyGroups(entries, used, matchedPairs);\nmatch239540MultiNameCreditSum(entries, used, matchedPairs);\nmatch239540ZrTrosakByDay(entries, used, matchedPairs);   // <-- NOVO\nmatch239540(entries, used, matchedPairs);                // amount-only\n\n\nfunction match239540IzvodDebitSumToCredit(entries, used, matchedPairs) {\n  if (accountNo !== \"239540\") return;\n\n  const tol = 0.01;\n\n  // 1) grupiraj D po Izvodu\n  const dByIzvod = new Map(); // izvod -> [entries]\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!(e.duguje > 0 && e.potrazuje === 0)) continue;\n\n    const iz = extractIzvodId(e.description);\n    if (!iz) continue;\n\n    if (!dByIzvod.has(iz)) dByIzvod.set(iz, []);\n    dByIzvod.get(iz).push(e);\n  }\n\n  if (!dByIzvod.size) return;\n\n  // 2) index P (krediti) po amount, ali oni ne moraju imati izvod\n  //    (opcionalno: preskoči lockane)\n  const pByAmt = new Map(); // amount -> [entries]\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (e._lock239540) continue; // poštuj lock od prijevoza perioda\n    if (!(e.potrazuje > 0 && e.duguje === 0)) continue;\n\n    // ako želiš: izbjegni P redove koji sami sadrže \"Izvod\" (da ne radimo duplo)\n    // if (/\\bIZVOD\\b/i.test(e.description)) continue;\n\n    const a = toFixed2(e.potrazuje || 0);\n    if (!pByAmt.has(a)) pByAmt.set(a, []);\n    pByAmt.get(a).push(e);\n  }\n\n  // helper: najbliži match po toleranciji (ako float/zaokruživanje)\n  function findCreditByAmount(target) {\n    const t = toFixed2(target);\n    if (pByAmt.has(t) && pByAmt.get(t).length) return pByAmt.get(t)[0];\n\n    // fallback: probaj +/- 0.01 (rijetko potrebno, ali sigurno)\n    const tPlus = toFixed2(t + 0.01);\n    if (pByAmt.has(tPlus) && pByAmt.get(tPlus).length) return pByAmt.get(tPlus)[0];\n    const tMinus = toFixed2(t - 0.01);\n    if (pByAmt.has(tMinus) && pByAmt.get(tMinus).length) return pByAmt.get(tMinus)[0];\n\n    return null;\n  }\n\n  // 3) za svaki izvod zbroji D i pokušaj naći P\n  // sortiraj izvod groups deterministično\n  const izvodList = Array.from(dByIzvod.entries()).sort((a, b) => a[0].localeCompare(b[0]));\n\n  for (const [iz, list] of izvodList) {\n    // filtriraj ako se nešto u međuvremenu označilo used\n    const debits = list.filter(x => !used.has(x.idx));\n    if (!debits.length) continue;\n\n    const sumD = toFixed2(debits.reduce((s, x) => s + (x.duguje || 0), 0));\n    if (sumD <= 0) continue;\n\n    const credit = findCreditByAmount(sumD);\n    if (!credit) continue;\n\n    // dodatna zaštita: ne spajaj ako je credit u drugom mjesecu (ako oba imaju periodDate)\n    // (smanjuje slučajne match-eve kad je isti iznos čest)\n    if (credit.periodDate && debits[0].periodDate && credit.periodDate !== debits[0].periodDate) {\n      continue;\n    }\n\n    // mark used\n    for (const d of debits) used.add(d.idx);\n    used.add(credit.idx);\n\n    // makni credit iz indeksa da ga ne koristimo opet\n    const ca = toFixed2(credit.potrazuje || 0);\n    if (pByAmt.has(ca)) {\n      pByAmt.set(ca, pByAmt.get(ca).filter(x => x.idx !== credit.idx));\n      if (!pByAmt.get(ca).length) pByAmt.delete(ca);\n    }\n\n    matchedPairs.push({\n      reason: \"239540_IZVOD_DEBIT_SUM_TO_CREDIT\",\n      key: `239540|IZVOD|${iz}|SUMD=${sumD}|P=${ca}|DEBITS=${debits.length}`,\n      a: credit,\n      b: debits[0] || credit,\n    });\n  }\n}\n\n\nmatch239540TransportMonthlyGroups(entries, used, matchedPairs);\nmatch239540MultiNameCreditSum(entries, used, matchedPairs);\nmatch239540ZrTrosakByDay(entries, used, matchedPairs);\n\nmatch239540IzvodDebitSumToCredit(entries, used, matchedPairs); // <-- NOVO\n\nmatch239540(entries, used, matchedPairs); // amount-only\n\n// ===== SPECIAL 239540: match ONLY by amount (D <-> P), no UR/anything =====\nfunction match239540(entries, used, matchedPairs) {\n  if (accountNo !== \"239540\") return;\n\n  const remaining = entries.filter(e => !used.has(e.idx) && !e._lock239540);\n  const groups = new Map(); // amount -> { d: [], p: [] }\n\n  for (const e of remaining) {\n    const a = e.amount;\n    if (!groups.has(a)) groups.set(a, { d: [], p: [] });\n\n    if (e.duguje > 0 && e.potrazuje === 0) groups.get(a).d.push(e);\n    else if (e.potrazuje > 0 && e.duguje === 0) groups.get(a).p.push(e);\n  }\n\n  for (const [amt, g] of groups.entries()) {\n    const dList = g.d.sort((x, y) => x.idx - y.idx);\n    const pList = g.p.sort((x, y) => x.idx - y.idx);\n\n    const n = Math.min(dList.length, pList.length);\n    if (n <= 0) continue;\n\n    for (let i = 0; i < n; i++) {\n      const d = dList[i];\n      const p = pList[i];\n      if (used.has(d.idx) || used.has(p.idx)) continue;\n\n      used.add(d.idx);\n      used.add(p.idx);\n\n      matchedPairs.push({\n        reason: \"239540_AMT_ONLY\",\n        key: `239540|AMT|${amt}`,\n        a: d,\n        b: p,\n      });\n    }\n  }\n}\n\nmatch239540(entries, used, matchedPairs);\n\n//232370 matchanje-helperi\n\nfunction extractIzvodId(desc) {\n  const t = norm(desc || \"\");\n  // hvata \"Izvod 25/15262\" i \"IZVOD 25/15262\"\n  const m = t.match(/\\bIzvod\\s+(\\d{2}\\/\\d{4,})\\b/i);\n  return m ? m[1] : null;\n}\n\nfunction match232370IzvodDebitSumToCredit(entries, used, matchedPairs) {\n  if (accountNo !== \"232370\") return;\n\n  const tol = 0.01;\n\n  // 1) grupiraj DUGUJE po IZVODU (uzima sve s duguje>0, bez uvjeta potrazuje===0)\n  const dByIzvod = new Map(); // izvod -> [entries]\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!(e.duguje > 0)) continue;\n\n    const iz = extractIzvodId(e.description);\n    if (!iz) continue;\n\n    const d = upper(e.description || \"\");\n    // ciljamo AH blokove (AUTORSKI HONORAR), ali dovoljno je \"AH\"\n    if (!/\\bAH\\b/.test(d) && !d.includes(\"AUTORSKI\")) continue;\n\n    if (!dByIzvod.has(iz)) dByIzvod.set(iz, []);\n    dByIzvod.get(iz).push(e);\n  }\n  if (!dByIzvod.size) return;\n\n  // 2) index POTRAŽUJE po iznosu (preferiraj opise koji počinju s \"AH\")\n  const pByAmt = new Map(); // amt -> [entries]\n  for (const e of entries) {\n    if (used.has(e.idx)) continue;\n    if (!(e.potrazuje > 0)) continue;\n    if (e.duguje > 0) continue; // credit red mora biti \"čisti\" P\n\n    const amt = toFixed2(e.potrazuje || 0);\n    if (!pByAmt.has(amt)) pByAmt.set(amt, []);\n    pByAmt.get(amt).push(e);\n  }\n\n  for (const list of pByAmt.values()) {\n    // preferiraj one koji počinju s \"AH\"\n    list.sort((a, b) => {\n      const aAh = /^\\s*AH\\b/i.test(a.description || \"\") ? 0 : 1;\n      const bAh = /^\\s*AH\\b/i.test(b.description || \"\") ? 0 : 1;\n      if (aAh !== bAh) return aAh - bAh;\n      return a.idx - b.idx;\n    });\n  }\n\n  // 3) pokušaj match za svaki izvod\n  const izvodList = Array.from(dByIzvod.entries()).sort((a, b) => a[0].localeCompare(b[0]));\n  for (const [iz, list] of izvodList) {\n    const debits = list.filter(x => !used.has(x.idx));\n    if (!debits.length) continue;\n\n    const sumD = toFixed2(debits.reduce((s, x) => s + (x.duguje || 0), 0));\n    if (sumD <= 0) continue;\n\n    const credits = pByAmt.get(sumD);\n    if (!credits || !credits.length) continue;\n\n    const credit = credits[0];\n\n    // mark used\n    for (const d of debits) used.add(d.idx);\n    used.add(credit.idx);\n\n    // remove credit from index\n    pByAmt.set(sumD, credits.filter(x => x.idx !== credit.idx));\n    if (!pByAmt.get(sumD).length) pByAmt.delete(sumD);\n\n    matchedPairs.push({\n      reason: \"232370_IZVOD_DEBIT_SUM_TO_CREDIT\",\n      key: `232370|IZVOD|${iz}|SUMD=${sumD}|DEBITS=${debits.length}`,\n      a: credit,\n      b: debits[0] || credit,\n    });\n  }\n}\n\n\nmatch232370IzvodDebitSumToCredit(entries, used, matchedPairs);\n\n//match 232110\n\nfunction foldCroatian(s) {\n  return upper(s || \"\")\n    .replace(/Č/g, \"C\").replace(/Ć/g, \"C\")\n    .replace(/Š/g, \"S\").replace(/Ž/g, \"Z\")\n    .replace(/Đ/g, \"D\");\n}\n\n// 232110: izvuci osobu pouzdano (uzima ZADNJE ime/prezime iz reda)\nfunction extractPersonKey232110(desc) {\n  let t = norm(desc || \"\");\n  if (!t) return null;\n\n  // makni prefiks tipa \"25/38 \" ili \"258/25 \"\n  t = t.replace(/^\\s*\\d{1,4}\\s*\\/\\s*\\d{1,6}\\s+/i, \"\").trim();\n\n  // makni \"Izvod ... isp. ...\" boilerplate (ne mora biti savršen, bitno je ne smeta imenu na kraju)\n  t = t.replace(/\\bIzvod\\s+\\d{2}\\/\\d{4,}\\b/ig, \" \");\n  t = t.replace(/\\bisp\\.?\\s*\\d+\\b/ig, \" \");\n\n  // ako ima crtica-separatora, uzmi rep nakon zadnje \" - \"\n  // (ime je praktički uvijek na kraju nakon zadnjeg \"-\")\n  const lastDash = t.lastIndexOf(\" - \");\n  if (lastDash >= 0 && lastDash < t.length - 3) {\n    t = t.slice(lastDash + 3).trim();\n  } else {\n    // fallback: ako su crtice bez razmaka\n    const lastDash2 = t.lastIndexOf(\"-\");\n    if (lastDash2 >= 0 && lastDash2 < t.length - 1) t = t.slice(lastDash2 + 1).trim();\n  }\n\n  // tokenizacija (izbaci brojeve i interpunkciju)\n  const stop = new Set([\n    \"IZVOD\",\"ISP\",\"PN\",\"PUTNI\",\"NALOZI\",\"ISPLATA\",\"PUTNIH\",\"NALOGA\",\"NALOG\",\n    \"REF\",\"RN\",\"UR\",\"URR\",\"URA\",\"UPLATA\",\"HO\",\"AH\"\n  ]);\n\n  const words = t\n    .replace(/[0-9]/g, \" \")\n    .replace(/[.,;:()\\-_/]/g, \" \")\n    .split(/\\s+/)\n    .filter(Boolean)\n    .map(w => foldCroatian(w))\n    .filter(w => w.length >= 3 && /^[A-Z]+$/.test(w) && !stop.has(w));\n\n  if (!words.length) return null;\n\n  // FULL: zadnje dvije riječi, SINGLE: zadnja riječ\n  if (words.length >= 2) {\n    const w1 = words[words.length - 2];\n    const w2 = words[words.length - 1];\n    return { key: `${w1} ${w2}`, kind: \"FULL\" };\n  }\n  return { key: words[words.length - 1], kind: \"SINGLE\" };\n}\n\n\nfunction match232110ByPersonAndAmount(entries, used, matchedPairs) {\n  if (accountNo !== \"232110\") return;\n\n  const tol = 0.01;\n\n  const ZERO_TOL = 0.01;\n\nfunction isPureD(e) {\n  return (e.duguje > 0 && (e.potrazuje || 0) <= ZERO_TOL) || (e.net > 0);\n}\nfunction isPureP(e) {\n  return (e.potrazuje > 0 && (e.duguje || 0) <= ZERO_TOL) || (e.net < 0);\n}\n\n  // ---------- PASS 1: FULL↔FULL by amount (unique 1:1) ----------\n// PASS 1: (FULL ili SINGLE) ↔ (FULL ili SINGLE) by amount (unique 1:1)\n{\n  const rem = entries.filter(e => !used.has(e.idx));\n  const dList = rem.filter(isPureD);\n  const pList = rem.filter(isPureP);\n\n  const map = new Map(); // key -> {d:[], p:[]}\n  function add(side, e){\n    const pk = extractPersonKey232110(e.description);\n    if (!pk) return;\n    const key = `${pk.kind}|${pk.key}|AMT|${e.amount}`;\n    if (!map.has(key)) map.set(key, {d:[], p:[]});\n    map.get(key)[side].push(e);\n  }\n\n  for (const e of dList) add(\"d\", e);\n  for (const e of pList) add(\"p\", e);\n\n  for (const [key,g] of map.entries()) {\n    if (g.d.length === 1 && g.p.length === 1) {\n      const a=g.d[0], b=g.p[0];\n      used.add(a.idx); used.add(b.idx);\n      matchedPairs.push({reason:\"232110_PERSON_AMT\", key, a, b});\n    }\n  }\n}\n\n      // ---------- PASS 2: FULL↔SINGLE by amount (SURNAME+AMT zip first, fallback nearest) ----------\n  {\n    const rem = entries.filter(e => !used.has(e.idx));\n    const dList = rem.filter(isPureD);\n    const pList = rem.filter(isPureP);\n\n    function nameTokens(fullKey){\n      const parts = foldCroatian(fullKey).split(/\\s+/).filter(Boolean);\n      return parts.slice(-2); // [IME, PREZIME]\n    }\n\n    function surnameFromKey(keyStr){\n      const parts = foldCroatian(keyStr).split(/\\s+/).filter(Boolean);\n      if (!parts.length) return null;\n      return parts[parts.length - 1];\n    }\n\n    // Helper: get person key + kind for an entry\n    function getPK(e){\n      return extractPersonKey232110(e.description);\n    }\n\n    // Build groups by SURNAME+AMT on each side (only where we can extract surname)\n    // We'll include FULL and SINGLE on both sides, but the \"FULL↔SINGLE\" intent is achieved\n    // because SINGLE entries will contribute only surname token anyway.\n    const gD = new Map(); // key -> [entry]\n    const gP = new Map(); // key -> [entry]\n\n    function addToGroup(map, e){\n      const pk = getPK(e);\n      if (!pk) return;\n      const sn = surnameFromKey(pk.key);\n      if (!sn) return;\n      const amt = toFixed2(e.amount);\n      const k = `SN|${sn}|AMT|${amt}`;\n      if (!map.has(k)) map.set(k, []);\n      map.get(k).push(e);\n    }\n\n    for (const e of dList) addToGroup(gD, e);\n    for (const e of pList) addToGroup(gP, e);\n\n    // -------- Stage A: ZIP pairing when counts match (most stable) --------\n    for (const [k, dArr] of gD.entries()) {\n      const pArr = gP.get(k);\n      if (!pArr || !pArr.length) continue;\n\n      // filter if something got used in-between\n      const dRem = dArr.filter(x => !used.has(x.idx)).sort((a,b)=>a.idx-b.idx);\n      const pRem = pArr.filter(x => !used.has(x.idx)).sort((a,b)=>a.idx-b.idx);\n\n      if (!dRem.length || !pRem.length) continue;\n\n      // Only zip when counts match exactly (prevents wrong steals)\n      if (dRem.length !== pRem.length) continue;\n\n      for (let i = 0; i < dRem.length; i++) {\n        const d = dRem[i];\n        const p = pRem[i];\n        if (used.has(d.idx) || used.has(p.idx)) continue;\n\n        used.add(d.idx);\n        used.add(p.idx);\n\n        matchedPairs.push({\n          reason: \"232110_SURNAME_AMT_ZIP\",\n          key: `${k}|ZIP|i=${i+1}/${dRem.length}`,\n          a: d,\n          b: p,\n        });\n      }\n    }\n\n    // Recompute remaining after zip\n    const rem2 = entries.filter(e => !used.has(e.idx));\n    const d2 = rem2.filter(isPureD);\n    const p2 = rem2.filter(isPureP);\n\n    // Build SINGLE-token index (token = surname or name) for fallback\n    const sD = new Map(), sP = new Map();\n\n    function addSingle(map, e){\n      const pk = getPK(e);\n      if (!pk) return;\n\n      const toks = pk.kind === \"FULL\" ? nameTokens(pk.key) : [pk.key];\n      for (const tok of toks) {\n        const k = `S|${tok}|AMT|${toFixed2(e.amount)}`;\n        if (!map.has(k)) map.set(k, []);\n        map.get(k).push(e);\n      }\n    }\n\n    for (const e of d2) addSingle(sD, e);\n    for (const e of p2) addSingle(sP, e);\n\n    const NEAR_WINDOW = 25;\n\n    function uniqByIdx(list) {\n      const seen = new Set();\n      const out = [];\n      for (const x of list) {\n        if (!x || used.has(x.idx)) continue;\n        if (seen.has(x.idx)) continue;\n        seen.add(x.idx);\n        out.push(x);\n      }\n      return out;\n    }\n\n    function pickNearest(base, cands) {\n      if (!cands.length) return null;\n\n      const sorted = cands\n        .slice()\n        .sort((a, b) => {\n          const da = Math.abs(a.idx - base.idx);\n          const db = Math.abs(b.idx - base.idx);\n          if (da !== db) return da - db;\n          return a.idx - b.idx;\n        });\n\n      const best = sorted[0];\n      const bestDist = Math.abs(best.idx - base.idx);\n      if (bestDist > NEAR_WINDOW) return null;\n\n      // If tie for nearest → ambiguous → skip\n      if (sorted.length >= 2) {\n        const secondDist = Math.abs(sorted[1].idx - base.idx);\n        if (secondDist === bestDist) return null;\n      }\n      return best;\n    }\n\n    // -------- Stage B: fallback FULL↔SINGLE (prefer SURNAME, nearest if multiple) --------\n    function trySide(fullSide, oppIndex, dirLabel){\n      for (const e of fullSide) {\n        if (used.has(e.idx)) continue;\n\n        const pk = getPK(e);\n        if (!pk || pk.kind !== \"FULL\") continue;\n\n        const toksAll = nameTokens(pk.key); // [IME, PREZIME]\n        const prezime = toksAll[toksAll.length - 1];\n        const ime = toksAll[0];\n        const toksTry = [prezime, ime].filter(Boolean);\n\n        const amt = toFixed2(e.amount);\n\n        const candidates = [];\n        for (const tok of toksTry) {\n          const k = `S|${tok}|AMT|${amt}`;\n          const list = oppIndex.get(k) || [];\n          for (const x of list) candidates.push(x);\n\n          // if found via surname, don't add noise via name\n          if (tok === prezime && list.length) break;\n        }\n\n        const uniq = uniqByIdx(candidates);\n        if (!uniq.length) continue;\n\n        let other = null;\n        if (uniq.length === 1) other = uniq[0];\n        else other = pickNearest(e, uniq);\n\n        if (!other) continue;\n\n        used.add(e.idx);\n        used.add(other.idx);\n\n        matchedPairs.push({\n          reason: \"232110_FULL_SINGLE_AMT_FALLBACK\",\n          key: `FULL2SINGLE|${pk.key}|AMT|${amt}|DIR=${dirLabel}|CANDS=${uniq.length}|PICK=${other.idx}`,\n          a: (dirLabel === \"Dfull_Psingle\" ? e : other),\n          b: (dirLabel === \"Dfull_Psingle\" ? other : e),\n        });\n      }\n    }\n\n    trySide(d2, sP, \"Dfull_Psingle\");\n    trySide(p2, sD, \"Pfull_Dsingle\");\n  }\n\n  // ---------- PASS 2.5: LOCAL CLUSTER SUM by SURNAME (within idx window) ----------\n  {\n    const tol = 0.01;\n\n    const rem = entries.filter(e => !used.has(e.idx));\n    const dList = rem.filter(isPureD);\n    const pList = rem.filter(isPureP);\n\n    function surnameFromPersonKey(pk) {\n      if (!pk) return null;\n      const parts = foldCroatian(pk.key).split(/\\s+/).filter(Boolean);\n      if (!parts.length) return null;\n      return parts[parts.length - 1]; // PREZIME = zadnja riječ\n    }\n\n    // collect candidates with surname\n    const cand = [];\n    for (const e of rem) {\n      const pk = extractPersonKey232110(e.description);\n      if (!pk) continue;\n\n      const sn = surnameFromPersonKey(pk);\n      if (!sn) continue;\n\n      cand.push({\n        e,\n        pk,\n        surname: sn,\n      });\n    }\n\n    // group by surname\n    const bySurname = new Map();\n    for (const x of cand) {\n      if (!bySurname.has(x.surname)) bySurname.set(x.surname, []);\n      bySurname.get(x.surname).push(x);\n    }\n\n    // clustering params\n    const CLUSTER_MAX_SPAN = 25; // max (maxIdx-minIdx) unutar jednog \"bloka\" iste osobe\n\n    function sumSide(list, side) {\n      if (side === \"D\") return toFixed2(list.reduce((s, x) => s + (x.e.duguje || 0), 0));\n      return toFixed2(list.reduce((s, x) => s + (x.e.potrazuje || 0), 0));\n    }\n\n    // for each surname: sort by idx, then build clusters by span\n    for (const [sn, list] of bySurname.entries()) {\n      // only consider if has both sides remaining\n      const hasD = list.some(x => isPureD(x.e));\n      const hasP = list.some(x => isPureP(x.e));\n      if (!hasD || !hasP) continue;\n\n      list.sort((a, b) => a.e.idx - b.e.idx);\n\n      // build clusters by keeping span limited\n      let cluster = [];\n      let minIdx = null, maxIdx = null;\n\n      function flushCluster() {\n        if (!cluster.length) return;\n\n        // compute sums on both sides inside this cluster\n        const dMembers = cluster.filter(x => isPureD(x.e));\n        const pMembers = cluster.filter(x => isPureP(x.e));\n\n        if (!dMembers.length || !pMembers.length) {\n          cluster = [];\n          minIdx = maxIdx = null;\n          return;\n        }\n\n        const sumD = sumSide(dMembers, \"D\");\n        const sumP = sumSide(pMembers, \"P\");\n\n        if (Math.abs(toFixed2(sumD - sumP)) <= tol) {\n          // mark used\n          for (const x of cluster) used.add(x.e.idx);\n\n          matchedPairs.push({\n            reason: \"232110_LOCAL_SURNAME_CLUSTER_SUM\",\n            key: `SURNAME=${sn}|SPAN=${minIdx}-${maxIdx}|SUMD=${sumD}|SUMP=${sumP}|D=${dMembers.length}|P=${pMembers.length}`,\n            a: dMembers[0].e,\n            b: pMembers[0].e,\n          });\n        }\n\n        cluster = [];\n        minIdx = maxIdx = null;\n      }\n\n      for (const x of list) {\n        if (used.has(x.e.idx)) continue;\n\n        if (!cluster.length) {\n          cluster = [x];\n          minIdx = maxIdx = x.e.idx;\n          continue;\n        }\n\n        const newMin = Math.min(minIdx, x.e.idx);\n        const newMax = Math.max(maxIdx, x.e.idx);\n\n        if ((newMax - newMin) <= CLUSTER_MAX_SPAN) {\n          cluster.push(x);\n          minIdx = newMin;\n          maxIdx = newMax;\n        } else {\n          // close current cluster and start new\n          flushCluster();\n          cluster = [x];\n          minIdx = maxIdx = x.e.idx;\n        }\n      }\n\n      flushCluster();\n    }\n  }\n  \n  // ---------- PASS 3: GROUP-SUM by FULL person (and safe SINGLE) ----------\n  {\n    const rem = entries.filter(e => !used.has(e.idx));\n    const dList = rem.filter(isPureD);\n    const pList = rem.filter(isPureP);\n\n    const gD = new Map(), gP = new Map(); // k -> {kind,key,list,sum}\n\n    function addGroup(map, e, side){\n      const pk = extractPersonKey232110(e.description);\n      if (!pk) return;\n      const k = `${pk.kind}|${pk.key}`;\n      if (!map.has(k)) map.set(k, {kind:pk.kind, key:pk.key, list:[], sum:0});\n      const g = map.get(k);\n      g.list.push(e);\n      g.sum = toFixed2(g.sum + (side===\"D\" ? e.duguje : e.potrazuje));\n    }\n\n    for (const e of dList) addGroup(gD, e, \"D\");\n    for (const e of pList) addGroup(gP, e, \"P\");\n\n    // safe SINGLE: token se ne smije pojaviti u 2+ FULL imena\n    const fullTokenCount = new Map();\n    function countFullTokens(map){\n      for (const g of map.values()) {\n        if (g.kind !== \"FULL\") continue;\n        for (const t of foldCroatian(g.key).split(/\\s+/)) {\n          fullTokenCount.set(t, (fullTokenCount.get(t)||0)+1);\n        }\n      }\n    }\n    countFullTokens(gD); countFullTokens(gP);\n    function singleSafe(tok){ return (fullTokenCount.get(tok)||0) <= 1; }\n\n    for (const [k, gd] of gD.entries()) {\n      const gp = gP.get(k);\n      if (!gp) continue;\n\n      if (gd.kind === \"FULL\") {\n        if (Math.abs(toFixed2(gd.sum - gp.sum)) <= tol) {\n          for (const e of gd.list) used.add(e.idx);\n          for (const e of gp.list) used.add(e.idx);\n          matchedPairs.push({\n            reason:\"232110_PERSON_GROUP_SUM\",\n            key:`FULL|${gd.key}|SUMD=${gd.sum}|SUMP=${gp.sum}|D=${gd.list.length}|P=${gp.list.length}`,\n            a: gd.list[0],\n            b: gp.list[0] || gd.list[0]\n          });\n        }\n      } else if (gd.kind === \"SINGLE\" && singleSafe(gd.key)) {\n        if (Math.abs(toFixed2(gd.sum - gp.sum)) <= tol) {\n          for (const e of gd.list) used.add(e.idx);\n          for (const e of gp.list) used.add(e.idx);\n          matchedPairs.push({\n            reason:\"232110_SINGLE_GROUP_SUM\",\n            key:`SINGLE|${gd.key}|SUMD=${gd.sum}|SUMP=${gp.sum}|D=${gd.list.length}|P=${gp.list.length}`,\n            a: gd.list[0],\n            b: gp.list[0] || gd.list[0]\n          });\n        }\n      }\n    }\n  }\n}\n\nmatch232110ByPersonAndAmount(entries, used, matchedPairs);\n\nfunction matchAmountOnlyUnique(entries, used, matchedPairs, reasonTag) {\n  const remaining = entries.filter(e => !used.has(e.idx) && !e._lock239540);\n\n  const dByAmt = new Map();\n  const pByAmt = new Map();\n\n  for (const e of remaining) {\n    if (e.duguje > 0 && e.potrazuje === 0) {\n      const a = e.amount;\n      if (!dByAmt.has(a)) dByAmt.set(a, []);\n      dByAmt.get(a).push(e);\n    } else if (e.potrazuje > 0 && e.duguje === 0) {\n      const a = e.amount;\n      if (!pByAmt.has(a)) pByAmt.set(a, []);\n      pByAmt.get(a).push(e);\n    }\n  }\n\n  for (const [amt, dList] of dByAmt.entries()) {\n    const pList = pByAmt.get(amt) || [];\n    if (dList.length === 1 && pList.length === 1) {\n      const d = dList[0], p = pList[0];\n      if (used.has(d.idx) || used.has(p.idx)) continue;\n      used.add(d.idx);\n      used.add(p.idx);\n      matchedPairs.push({\n        reason: reasonTag || \"AMT_ONLY_UNIQUE\",\n        key: `AMT_ONLY|${amt}`,\n        a: d,\n        b: p,\n      });\n    }\n  }\n}\n\n\n\n\n\nfunction matchUnique(prefix) {\n  const idx = buildIndex(entries.filter(e => !used.has(e.idx) && !e._lock239540), prefix);\n  for (const [k, list] of idx.entries()) {\n    if (list.length !== 2) continue;\n    const a = list[0], b = list[1];\n    if (used.has(a.idx) || used.has(b.idx)) continue;\n    used.add(a.idx); used.add(b.idx);\n    matchedPairs.push({ reason: prefix.replace(\"|\",\"\").replace(/\\|.*/,\"\"), key: k, a, b });\n  }\n}\n\nmatchUnique(\"UR|\");\nmatchUnique(\"PN|\");\nmatchUnique(\"DOC|\");\nmatchUnique(\"PERSON|\");\nmatchUnique(\"PERSON_ONLY|\");\n// ✅ FINAL fallback (konzervativno)\nmatchAmountOnlyUnique(entries, used, matchedPairs, `${accountNo}_AMT_ONLY_FINAL`);\n\n// UNMATCHED\nlet unmatched = entries.filter(e => !used.has(e.idx));\n\n// hard rule: 239210 unmatched shows only obveze\nif (accountNo === \"239210\") {\n  unmatched = unmatched.filter(e => isMonthlyObveza239210(e));\n}\n\nconst unmatchedSignedSum = toFixed2(unmatched.reduce((s, e) => s + e.net, 0));\n\nconst unmatchedVsSaldoDiff = (saldoDelta != null)\n  ? toFixed2((saldoDelta - netAll) + unmatchedSignedSum)\n  : null;\n\nreturn [{\n  json: {\n    unmatchedVsSaldoDiff,\n    accountNo,\n    accountName,\n    counts: {\n      rows: rows.length,\n      entries: entries.length,\n      matches: matchedPairs.length,\n      unmatched: unmatched.length,\n    },\n    saldo: { first: openingSaldo, last: endingSaldo, delta: saldoDelta },\n    unmatched: unmatched.map(e => ({\n      idx: e.idx,\n      side: sideLabel(e),\n      amount: e.amount,\n\n      period: (accountNo === \"239210\" ? (e.period ?? e.periodDescLong ?? null) : null),\n      suma: (accountNo === \"239210\" ? (e.suma ?? null) : null),\n      diff: (accountNo === \"239210\" ? (e.diff ?? null) : null),\n\n      ur: e.ur || \"\",\n      pn: e.pn || \"\",\n      id: e.pn || e.ur || \"\",\n      desc: e.description,\n    })),\n    unmatchedSignedSum,\n    saldoCheck: {\n      ok: saldoOk,\n      diff: saldoDiff,\n      reason: saldoOk === null ? \"no saldo data\" : (saldoOk ? \"ok\" : \"mismatch\"),\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        464
      ],
      "id": "1cca835f-bb9c-4fa6-b1eb-4fdd0fad64ed",
      "name": "Match + Report (per account)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst blocks = [];\nconst excelRows = [];           // unmatched detail rows\nconst excelKontrolaRows = [];   // 1 row per account (summary/control)\n\nfunction toNum(x) {\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\nfunction toFixed2(n) {\n  if (!Number.isFinite(n)) return n;\n  return Math.round((n + Number.EPSILON) * 100) / 100;\n}\nfunction eqTol(a, b, tol = 0.01) {\n  if (a == null || b == null) return null;\n  return Math.abs(toFixed2(a) - toFixed2(b)) <= tol;\n}\n\nfor (let idxAcc = 0; idxAcc < items.length; idxAcc++) {\n  const it = items[idxAcc];\n  const j = it.json || {};\n\n  const accountNo = String(j.accountNo || \"\");\n  const accountName = j.accountName || \"\";\n\n  // ---------- TEXT REPORT (add spacing between accounts) ----------\n  const header = `KONTO ${accountNo}${accountName ? \" - \" + accountName : \"\"}`;\n  const body = j.unmatchedText || \"(nema teksta)\";\n  blocks.push(`${header}\\n${body}`);\n\n  // ---------- CONTROL (3 columns only) ----------\n  const saldoFirst = toNum(j?.saldo?.first);\n  const saldoLast  = toNum(j?.saldo?.last);\n  const foundDelta = toNum(j?.saldo?.delta);\n\n  // \"vrijednost koja treba bit\" = saldoLast - saldoFirst (ako imamo oba)\n  const expectedDelta = (saldoFirst == null || saldoLast == null)\n    ? null\n    : toFixed2(saldoLast - saldoFirst);\n\n  const ok = eqTol(expectedDelta, foundDelta);\n\n  const unmatched = Array.isArray(j.unmatched) ? j.unmatched : [];\n  const unmatchedCount = unmatched.length;\n\n  excelKontrolaRows.push({\n    rowType: \"KONTROLA\",\n    accountNo,\n    accountName,\n    unmatchedCount,\n\n    // ONLY 3 control cols\n    shouldBe: expectedDelta,\n    found: foundDelta,\n    ok: ok,\n  });\n\n  // ---------- UNMATCHED DETAIL ROWS ----------\n  // Add a blank spacer row BEFORE each new account in detail section (except first)\n  if (idxAcc > 0) {\n    excelRows.push({\n      rowType: \"BLANK\",\n      accountNo: \"\",\n      accountName: \"\",\n      idx: null,\n      side: \"\",\n      amount: null,\n      ur: \"\",\n      pn: \"\",\n      id: \"\",\n      desc: \"\",\n      period: null,\n      suma: null,\n      diff: null,\n    });\n  }\n\n  for (let i = 0; i < unmatched.length; i++) {\n    const u = unmatched[i] || {};\n    excelRows.push({\n      rowType: \"UNMATCHED\",\n      accountNo,\n      accountName,\n\n      idx: u.idx ?? null,\n      side: u.side ?? \"\",\n      amount: u.amount ?? null,\n      ur: u.ur ?? \"\",\n      pn: u.pn ?? \"\",\n      id: u.id ?? \"\",\n      desc: u.desc ?? \"\",\n\n      // 239210 extras\n      period: u.period ?? null,\n      suma: u.suma ?? null,\n      diff: u.diff ?? null,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    accountsProcessed: items.length,\n    masterReport: blocks.join(\"\\n\\n\" + \"-\".repeat(60) + \"\\n\\n\"),\n    perAccount: items.map(it => it.json),\n\n    excelRows,\n    excelKontrolaRows,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        208
      ],
      "id": "0e9a44cf-49b9-48e6-9dd9-1bfb147e4b46",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: \"Format Output for Email + Excel\"\n// CONTROL (as requested):\n// - trebaDelta = saldoLast - saldoFirst\n// - nasaoDelta = unmatchedSignedSum (sum unmatched D=+, P=-)\n// - podudaraSe = trebaDelta ≈ nasaoDelta (tol 0.01)\n// Also:\n// - unmatchedRows: removed amountFmt\n// - spacer row between accounts in unmatchedRows\n// - uses ONLY data.perAccount from Merge Results (no $input.all fallback)\n\nfunction money(n) {\n  if (n === null || n === undefined || !Number.isFinite(Number(n))) return '';\n  const x = Number(n);\n  const fixed = x.toFixed(2);\n  const [a, b] = fixed.split('.');\n  const withThousands = a.replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return `${withThousands},${b}`;\n}\n\nfunction clean(s) {\n  return (s ?? '').toString().replace(/\\s+/g, ' ').trim();\n}\n\nfunction escHtml(s) {\n  return (s ?? '')\n    .toString()\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction sideLabel(side) {\n  if (side === 'D') return 'DUGUJE';\n  if (side === 'P') return 'POTRAŽUJE';\n  return side || '';\n}\n\nfunction is239210ObvezaRow(accNo, u) {\n  if (String(accNo) !== '239210') return true;\n  const desc = clean(u?.desc || '');\n  const hasPeriod = /\\b[0-1]?\\d\\/20\\d{2}\\b/.test(desc);\n  const isIra = /\\b(IRA|URA)\\b/i.test(desc);\n  return hasPeriod && !isIra;\n}\n\nfunction toFixed2(n) {\n  if (!Number.isFinite(Number(n))) return null;\n  return Math.round((Number(n) + Number.EPSILON) * 100) / 100;\n}\n\nfunction eqTol(a, b, tol = 0.01) {\n  if (a == null || b == null) return null;\n  return Math.abs(toFixed2(a) - toFixed2(b)) <= tol;\n}\n\nconst data = $json || {};\nconst perAccount = Array.isArray(data.perAccount) ? data.perAccount : [];\n\nconst SEP = '============================================================';\n\n// ---------- Excel rows ----------\nconst unmatchedRows = []; // detail rows only\nconst kontrolaRows = [];  // 1 row per account (3 columns control)\n\nfunction pushSpacerRow() {\n  unmatchedRows.push({\n    accountNo: '',\n    accountName: '',\n    unmatchedIndex: '',\n    side: '',\n    amount: '',\n    ur: '',\n    pn: '',\n    id: '',\n    rowIdx: '',\n    desc: '',\n    period: '',\n    suma: '',\n    sumaFmt: '',\n    diff: '',\n    diffFmt: '',\n    __spacer: '---',\n  });\n}\n\nfor (const acc of perAccount) {\n  const accountNo = acc.accountNo || 'UNKNOWN_ACCOUNT';\n  const accountName = acc.accountName || '';\n  let unmatched = Array.isArray(acc.unmatched) ? acc.unmatched : [];\n\n  // safety: for 239210 show only obveze rows\n  if (String(accountNo) === '239210') {\n    unmatched = unmatched.filter(u => is239210ObvezaRow(accountNo, u));\n  }\n\n  // ---------- CONTROL (requested definition) ----------\n  const saldoFirstRaw = acc?.saldo?.first ?? null;\n  const saldoLastRaw  = acc?.saldo?.last ?? null;\n\n  const saldoFirst = (saldoFirstRaw === '' || saldoFirstRaw == null) ? null : toFixed2(saldoFirstRaw);\n  const saldoLast  = (saldoLastRaw  === '' || saldoLastRaw  == null) ? null : toFixed2(saldoLastRaw);\n\n  const trebaDelta = (saldoFirst == null || saldoLast == null) ? null : toFixed2(saldoLast - saldoFirst);\n\n  const unmatchedSignedSumRaw = acc?.unmatchedSignedSum ?? null;\n  const nasaoDelta = (unmatchedSignedSumRaw === '' || unmatchedSignedSumRaw == null) ? null : toFixed2(unmatchedSignedSumRaw);\n\n  const ok = eqTol(trebaDelta, nasaoDelta);\n\n  kontrolaRows.push({\n    accountNo,\n    accountName,\n    unmatchedCount: unmatched.length,\n\n    // ONLY 3 cols you want (names aligned with Excel node below)\n    shouldBeDelta: trebaDelta == null ? '' : trebaDelta, // trebaDelta\n    foundDelta: nasaoDelta == null ? '' : nasaoDelta,    // nasaoDelta = sum unmatched\n    ok: ok === null ? '' : ok,\n  });\n\n  // ---------- UNMATCHED DETAIL ROWS ----------\n  if (unmatchedRows.length > 0) pushSpacerRow();\n\n  for (let i = 0; i < unmatched.length; i++) {\n    const u = unmatched[i] || {};\n    unmatchedRows.push({\n      accountNo,\n      accountName,\n\n      unmatchedIndex: i + 1,\n      side: sideLabel(u.side),\n      amount: (u.amount ?? ''),\n\n      ur: u.ur || '',\n      pn: u.pn || '',\n      id: u.id || '',\n      rowIdx: (u.idx ?? ''),\n      desc: clean(u.desc) || '',\n\n      // 239210 columns\n      period: (String(accountNo) === '239210') ? (u.period ?? '') : '',\n      suma: (String(accountNo) === '239210') ? (u.suma ?? '') : '',\n      sumaFmt: (String(accountNo) === '239210' && u.suma != null) ? money(u.suma) : '',\n      diff: (String(accountNo) === '239210') ? (u.diff ?? '') : '',\n      diffFmt: (String(accountNo) === '239210' && u.diff != null) ? money(u.diff) : '',\n    });\n  }\n}\n\n// ---------- Plain text ----------\nconst T = [];\nT.push('UNMATCHED STAVKE – IZVJEŠTAJ');\nT.push(`Broj računa u dokumentu: ${perAccount.length}`);\nT.push('');\nT.push(SEP);\nT.push('');\n\nfor (const acc of perAccount) {\n  const accNo = acc.accountNo || 'UNKNOWN';\n  const counts = acc.counts || {};\n  const saldo = acc.saldo || {};\n  let unmatched = Array.isArray(acc.unmatched) ? acc.unmatched : [];\n\n  if (String(accNo) === '239210') {\n    unmatched = unmatched.filter(u => is239210ObvezaRow(accNo, u));\n  }\n\n  const sFirstTxt = (saldo.first != null && saldo.first !== '') ? Number(saldo.first) : null;\n  const sLastTxt  = (saldo.last  != null && saldo.last  !== '') ? Number(saldo.last)  : null;\n  const trebaTxt  = (Number.isFinite(sFirstTxt) && Number.isFinite(sLastTxt)) ? (sLastTxt - sFirstTxt) : null;\n\n  const nasaoTxt = (acc.unmatchedSignedSum != null && acc.unmatchedSignedSum !== '')\n    ? Number(acc.unmatchedSignedSum)\n    : null;\n\n  const okTxt = (Number.isFinite(trebaTxt) && Number.isFinite(nasaoTxt)) ? (Math.abs(trebaTxt - nasaoTxt) <= 0.01) : null;\n\n  T.push(`KONTO: ${accNo}`);\n  T.push('');\n  T.push('Sažetak:');\n  T.push(`  - Ukupno redaka: ${counts.rows ?? '-'}`);\n  T.push(`  - Entries (D+P): ${counts.entries ?? '-'}`);\n  T.push(`  - Matched parova: ${counts.matches ?? '-'}`);\n  T.push(`  - Unmatched stavki: ${counts.unmatched ?? unmatched.length ?? 0}`);\n  T.push('');\n\n  T.push('Kontrola:');\n  T.push(`  - Početni saldo: ${sFirstTxt != null ? money(sFirstTxt) : '-'}`);\n  T.push(`  - Završni saldo: ${sLastTxt != null ? money(sLastTxt) : '-'}`);\n  T.push(`  - Treba Δ (zadnji - prvi): ${trebaTxt != null ? money(trebaTxt) : '-'}`);\n  T.push(`  - Našao Δ (zbroj unmatched D=+,P=-): ${nasaoTxt != null ? money(nasaoTxt) : '-'}`);\n  T.push(`  - Podudara se: ${okTxt === null ? '-' : (okTxt ? 'DA' : 'NE')}`);\n  T.push('');\n\n  if (unmatched.length === 0) {\n    T.push('✔ Nema unmatched stavki za ovaj konto.');\n    T.push('');\n    T.push(SEP);\n    T.push('');\n    continue;\n  }\n\n  T.push('UNMATCHED STAVKE:');\n  T.push('');\n\n  unmatched.forEach((u, i) => {\n    T.push(`  ${i + 1}) ${sideLabel(u.side)}`);\n    T.push(`     Iznos: ${u.amount != null ? money(u.amount) : '-'}`);\n    T.push(`     UR: ${u.ur || '-'}`);\n    T.push(`     Opis: ${clean(u.desc) || '-'}`);\n\n    if (String(accNo) === '239210') {\n      const per = u.period ?? '';\n      const sum = (u.suma != null ? money(u.suma) : '-');\n      const diff = (u.diff != null ? money(u.diff) : '-');\n      if (per) T.push(`     Period: ${per}`);\n      T.push(`     Suma IRA/URA (P): ${sum}`);\n      T.push(`     Razlika (Obveza - suma): ${diff}`);\n    }\n\n    if (u.idx != null && u.idx !== '') T.push(`     Row idx: ${u.idx}`);\n    T.push('');\n  });\n\n  T.push(SEP);\n  T.push('');\n}\n\nconst emailText = T.join('\\n');\n\nconst emailHtml =\n  `<div style=\"font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; font-size: 13px; line-height: 1.35;\">` +\n  `<pre style=\"white-space: pre-wrap; margin: 0;\">${escHtml(emailText)}</pre>` +\n  `</div>`;\n\nconst emailHtmlBr =\n  `<div style=\"font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; font-size: 13px; line-height: 1.35;\">` +\n  escHtml(emailText).replace(/\\n/g, '<br>') +\n  `</div>`;\n\nreturn [{\n  json: {\n    accountsProcessed: perAccount.length,\n    emailText,\n    emailHtml,\n    emailHtmlBr,\n\n    unmatchedRows,\n    kontrolaRows,\n\n    perAccount,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        208
      ],
      "id": "e5f9a015-b77e-4d9e-a474-b781e7357639",
      "name": "Format Output for Email + Excel"
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\nconst unmatchedRows = Array.isArray(data.unmatchedRows) ? data.unmatchedRows : [];\nconst kontrolaRows  = Array.isArray(data.kontrolaRows) ? data.kontrolaRows : [];\n\nif (!unmatchedRows.length && !kontrolaRows.length) {\n  throw new Error('Nema unmatchedRows ni kontrolaRows podataka.');\n}\n\nfunction is239210ObvezaRowFromUnmatched(r) {\n  if (String(r.accountNo || '') !== '239210') return true;\n  const desc = (r.desc || '').toString();\n  const hasPeriod = /\\b[0-1]?\\d\\/20\\d{2}\\b/.test(desc);\n  const isIra = /\\b(IRA|URA)\\b/i.test(desc);\n  return hasPeriod && !isIra;\n}\n\nconst rows = [];\n\n// KONTROLA section\nfor (const r of kontrolaRows) {\n  rows.push({\n    section: \"KONTROLA\",\n    konto: r.accountNo || 'UNKNOWN',\n    naziv: r.accountName || '',\n\n    unmatchedCou: r.unmatchedCount ?? '',\n\n    trebaDelta: r.shouldBeDelta ?? '',\n    nasaoDelta: r.foundDelta ?? '',\n    podudaraSe: (r.ok === true) ? 'DA' : (r.ok === false) ? 'NE' : '',\n  });\n}\n\n// blank separator row\nrows.push({ section: \"---\" });\n\n// UNMATCHED section\nfor (const r of unmatchedRows) {\n  // spacer row support\n  if (r && (r.__spacer || r.rowType === \"BLANK\" || r.rowType === \"SPACER\")) {\n    rows.push({ section: \"\" });\n    continue;\n  }\n\n  if (!is239210ObvezaRowFromUnmatched(r)) continue;\n\n  rows.push({\n    section: \"UNMATCHED\",\n    konto: r.accountNo || 'UNKNOWN',\n    naziv: r.accountName || '',\n\n    redniBroj: r.unmatchedIndex ?? '',\n    strana: r.side || '',\n    iznos: r.amount ?? '',\n\n    ur: r.ur || '',\n    pn: r.pn || '',\n    id: r.id || '',\n    rowIdx: r.rowIdx ?? '',\n    opis: r.desc || '',\n\n    // 239210 extras\n    period: (String(r.accountNo || '') === '239210') ? (r.period ?? '') : '',\n    sumaFmt:(String(r.accountNo || '') === '239210') ? (r.sumaFmt ?? '') : '',\n    diffFmt:(String(r.accountNo || '') === '239210') ? (r.diffFmt ?? '') : '',\n  });\n}\n\nreturn rows.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ],
      "id": "502e9228-56d1-4c03-a8b8-28099ac3130f",
      "name": "excel"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_ID",
          "mode": "list",
          "cachedResultName": "HPM-Anita-N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_FOLDER_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        208
      ],
      "id": "fb63899f-2f22-4d71-9740-b80249e81edf",
      "name": "Upload file"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        208
      ],
      "id": "c4f97564-d7c5-471b-add6-ce2386a55b4a",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Normalize Page Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ledger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Page Text": {
      "main": [
        [
          {
            "node": "Extract Ledger Rows (Regex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ledger Rows (Regex)": {
      "main": [
        [
          {
            "node": "Group Accounts to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Accounts to Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match + Report (per account)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match + Report (per account)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Output for Email + Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output for Email + Excel": {
      "main": [
        [
          {
            "node": "excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excel": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "REPLACE_OR_REGENERATE_IN_N8N",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "PKLWcpDlidV7amWBaeZCu",
  "tags": []
}